<div
  class="py-5 px-10 h-20 flex gap-5 rounded justify-between items-center relative"
>
  <a routerLink="/home">
    <img class="w-36" src="assets/images/Groupe-30.png" alt="Logo de sonar" />
  </a>

  @if (isUserConnected()) {
  <div class="gap-2 justify-center items-center hidden md:flex">
    <hlm-menu-bar class="w-fit border-none">
      <a routerLink="/home" hlmMenuBarItem>Accueil</a>
      @if (connectedUser()?.role === "ADMIN") {
      <a hlmMenuBarItem [brnMenuTriggerFor]="admin">Admin</a>
      }
    </hlm-menu-bar>

    <app-notifications />

    <a
      routerLink="/profile"
      class="rounded-full size-10 flex justify-center items-center bg-gray-sonar text-black border border-black"
    >
      {{
        connectedUser()?.firstName?.slice(0, 1) ||
          connectedUser()?.name?.slice(0, 1)
      }}
    </a>
    <a (click)="logout()" class="cursor-pointer rounded-full" hlmBtn
      >Déconnexion</a
    >
  </div>
  <app-header-mobile class="md:hidden" />
  } @else {
  <div class="flex gap-2 justify-center items-center">
    @if (router.url === '/login') {
    <a
      routerLink="/register"
      hlmBtn
      class="cursor-pointer md:block rounded-full"
      >Inscription</a
    >
    } @else if (router.url !== '/register') {
    <a routerLink="/login" hlmBtn class="cursor-pointer md:block rounded-full"
      >Connexion</a
    >
    }
  </div>
  }
</div>

<ng-template #admin>
  <hlm-menu
    variant="menubar"
    class="w-64 flex flex-col p-0 items-center justify-start"
  >
    <a routerLink="/user-validation" class="" hlmMenuItemRadio>
      <hlm-menu-item-radio />
      Validation utilisateur
    </a>
    <a routerLink="/sepa-validation" hlmMenuItemRadio>
      <hlm-menu-item-radio />
      Validation virement SEPA
    </a>
    <a routerLink="/creating-new-users" hlmMenuItemRadio>
      <hlm-menu-item-radio />
      Création nouveau membre
    </a>
    <a routerLink="/meet" hlmMenuItemRadio>
      <hlm-menu-item-radio />
      Rendez-vous Visio
    </a>
    <a routerLink="/all-invoices" hlmMenuItemRadio>
      <hlm-menu-item-radio />
      Liste des factures
    </a>
  </hlm-menu>
</ng-template>
