<div>
    <p class="text-lg font-bold mx-10">Conditions d'utilisation de l'Application Sonar Artists</p>
    <div class="bg-gray-sonar mx-10 my-5 p-5 rounded-2xl">
        <p>
            En utilisant l'application Sonar Artists, vous acceptez les conditions suivantes. Veuillez les lire attentivement.
        </p>
        
        <p class="font-bold">
            1. Inscription et Accès à l'Application
        </p>
        <p>
            1.1. Pour accéder à l'application, vous devez remplir un formulaire d'inscription. Toutes les informations fournies doivent être exactes, complètes et à jour.
        </p>
        <p>
            1.2. Sonar Artists se réserve le droit d'examiner chaque demande d'inscription individuellement. L'approbation ou le refus de l'inscription est à la discrétion de Sonar Artists.
        </p>
        <p>
            1.3. Les utilisateurs approuvés seront invités à participer à un entretien avec Kevin Igo avant d'obtenir un accès complet à l'application.
        </p>
        <p>
            1.4. L'accès complet à l'application sera accordé à la discrétion de Kevin Igo à la suite de l'entretien.
        </p>
        
        <p class="font-bold">
            2. Utilisation de l'Application
        </p>
        <p>
            2.1. Vous êtes autorisé à utiliser l'application conformément à ces conditions d'utilisation.
        </p>
        <p>
            2.2. Vous acceptez de ne pas utiliser l'application à des fins illégales, nuisibles, obscènes, discriminatoires ou autrement inappropriées.
        </p>
        
        <p class="font-bold">
            3. Compte Utilisateur
        </p>
        <p>
            3.1. Pour accéder à certaines fonctionnalités de l'application, vous devrez créer un compte utilisateur.
        </p>
        <p>
            3.2. Vous êtes responsable de maintenir la confidentialité de votre compte et des informations de connexion.
        </p>
        <p>
            3.3. Vous acceptez de ne pas partager votre compte avec d'autres personnes.
        </p>
        
        <p class="font-bold">
            4. Collecte et Utilisation des Données
        </p>
        <p>
            4.1. La collecte et l'utilisation des données personnelles sont régies par notre Politique de Confidentialité.
        </p>
        <p>
            4.2. Vous consentez à la collecte et à l'utilisation de vos données conformément à notre Politique de Confidentialité.
        </p>
        
        <p class="font-bold">
            5. Entretien avec Kevin Igo
        </p>
        <p>
            5.1. Les utilisateurs approuvés doivent participer à un entretien avec Kevin Igo.
        </p>
        <p>
            5.2. L'entretien a pour objectif d'évaluer l'adéquation de l'utilisateur à l'utilisation de l'application et d'assurer une compréhension mutuelle des attentes.
        </p>
        <p>
            5.3. L'accès complet à l'application sera accordé à la discrétion de Kevin Igo à la suite de l'entretien.
        </p>
        
        <p class="font-bold">
            6. Contenu Utilisateur
        </p>
        <p>
            6.1. En soumettant du contenu sur l'application, vous accordez à Sonar Artists le droit non exclusif, mondial, irrévocable de reproduire, distribuer, afficher et utiliser ce contenu.
        </p>
        <p>
            6.2. Vous garantissez que tout contenu soumis respecte les droits de tiers et les lois applicables.
        </p>
        
        <p class="font-bold">
            7. Propriété Intellectuelle
        </p>
        <p>
            7.1. Tout le contenu présent sur l'application, y compris les textes, images, logos, etc., est la propriété de Sonar Artists ou utilisé avec autorisation.
        </p>
        <p>
            7.2. Vous ne pouvez pas utiliser, reproduire ou distribuer le contenu de l'application sans autorisation écrite de Sonar Artists.
        </p>
        
        <p class="font-bold">
            8. Limitation de Responsabilité
        </p>
        <p>
            8.1. Sonar Artists ne peut être tenu responsable des pertes directes ou indirectes résultant de l'utilisation de l'application.
        </p>
        <p>
            8.2. L'application est fournie "telle quelle" sans garantie d'aucune sorte, explicite ou implicite.
        </p>
        
        <p class="font-bold">
            9. Modifications des Conditions d'Utilisation
        </p>
        <p>
            9.1. Sonar Artists se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les utilisateurs seront informés de ces changements.
        </p>
        <p>
            9.2. En continuant à utiliser l'application après de telles modifications, vous acceptez les conditions mises à jour.
        </p>
        
        <p class="font-bold">
            10. Résiliation
        </p>
        <p>
            10.1. Sonar Artists se réserve le droit de résilier ou suspendre votre accès à l'application en cas de violation de ces conditions.
        </p>
    </div>
</div>
