@defer () { @if (!state.isSpinner()) {
<button
  (click)="goBack()"
  class="w-fit mx-5 mb-5 rounded-full flex items-center gap-3"
  hlmBtn
>
  <hlm-icon size="sm" name="lucideCornerDownLeft" />
  Retour
</button>
<div class="bg-gray-sonar p-5 mx-5 rounded-xl flex flex-col gap-5">
  <div class="md:flex md:justify-between">
    <div class="flex justify-start w-full md:w-1/3">
      @if (state.accountPrincipal()) {
      <button
        class="bg-white flex flex-col justify-center items-center w-full rounded-2xl h-32 gap-2 shadow-lg"
      >
        <div>
          <p class="text-lg font-semibold">
            {{ state.accountPrincipal()?.username }}
          </p>
          <p class="text-xs font-medium">{{ state.accountPrincipal()?.id }}</p>
        </div>
        <p
          class="text-xl font-bold"
          [ngClass]="{
            'text-red-400': state.accountPrincipal()?.solde! < 0,
            'text-green-400': state.accountPrincipal()?.solde! > 0
          }"
        >
          {{ state.accountPrincipal()?.solde! | euroFormat }}
        </p>
      </button>
      } @else {
      <button
        class="bg-white flex flex-col justify-center items-center w-full rounded-2xl h-32 gap-2 shadow-lg"
      >
        <div>
          <p class="text-lg font-semibold">
            {{ state.accountGroup()?.username }}
          </p>
          <p class="text-xs font-medium">{{ state.accountGroup()?.id }}</p>
        </div>
        <p
          class="text-xl font-bold"
          [ngClass]="{
            'text-red-400': state.accountGroup()?.solde! < 0,
            'text-green-400': state.accountGroup()?.solde! > 0
          }"
        >
          {{ state.accountGroup()?.solde! | euroFormat }}
        </p>
      </button>
      }
    </div>

    <div class="md:flex md:flex-col mt-5 md:justify-end">
      <hlm-dialog>
        <button
          (click)="fetchAllAccount()"
          id="transfer"
          brnDialogTrigger
          class="rounded-full w-full px-10"
          hlmBtn
        >
          Transfert d'argent
        </button>
        <hlm-dialog-content
          class="w-72 rounded-xl m-2"
          *brnDialogContent="let ctx"
        >
          <hlm-dialog-header>
            <h3 hlmDialogTitle>Transfert d'argent</h3>
            <p hlmDialogDescription>
              Choisissez un projet, ajoutez le montant et une communication.
              Cliquez sur envoyer lorsque vous avez terminé.
            </p>
          </hlm-dialog-header>

          <form
            [formGroup]="transactionForm"
            class="flex flex-col gap-2"
            (ngSubmit)="sendTransaction(ctx)"
          >
            <div class="flex flex-col">
              <div class="w-full flex flex-col gap-2">
                <brn-select
                  formControlName="recipientPrincipal"
                  class="rounded-full w-full"
                  placeholder="Selectionner des projets principals"
                  [multiple]="true"
                >
                  <hlm-select-trigger class="w-full rounded-full md:w-96">
                    <hlm-select-value />
                  </hlm-select-trigger>
                  <hlm-select-content>
                    @for (principalAccount of state.principalAccounts(); track
                    principalAccount.id) { @if (principalAccount.username !==
                    state.accountPrincipal()?.username) {
                    <hlm-option [value]="principalAccount.id">{{
                      principalAccount.username
                    }}</hlm-option>
                    } }
                  </hlm-select-content>
                </brn-select>
                <brn-select
                  formControlName="recipientGroup"
                  class="rounded-full w-full"
                  placeholder="Selectionner des projets de groupe"
                  [multiple]="true"
                >
                  <hlm-select-trigger class="w-full rounded-full md:max-w-96">
                    <hlm-select-value />
                  </hlm-select-trigger>
                  <hlm-select-content>
                    @for (groupAccount of state.groupAccounts(); track
                    groupAccount.id) { @if (groupAccount.username !==
                    state.accountGroup()?.username) {
                    <hlm-option [value]="groupAccount.id">{{
                      groupAccount.username
                    }}</hlm-option>
                    } }
                  </hlm-select-content>
                </brn-select>
              </div>
            </div>

            <div class="flex flex-col gap-2 rounded-full w-full">
              <div>
                <input
                  formControlName="amount"
                  hlmInput
                  placeholder="Montant"
                  type="number"
                  class="rounded-full w-full"
                />
              </div>
              <div>
                <input
                  formControlName="communication"
                  hlmInput
                  placeholder="Communication"
                  type="text"
                  class="rounded-full w-full"
                />
              </div>
            </div>
            <button class="rounded-full" hlmBtn type="submit">Envoyer</button>
          </form>
        </hlm-dialog-content>
      </hlm-dialog>

      <hlm-dialog>
        <button
          id="paie"
          brnDialogTrigger
          class="rounded-full w-full mt-5 px-10"
          hlmBtn
        >
          Paiement SEPA
        </button>
        <hlm-dialog-content
          class="w-72 rounded-xl m-2"
          *brnDialogContent="let ctx"
        >
          <hlm-dialog-header class="*:text-red-600">
            <h3 hlmDialogTitle>Paiement SEPA</h3>
            <p hlmDialogDescription class="text-[10px]">
              Si le virement effectu&eacute; concerne une facture
              adress&eacute;e &agrave; Sonar Artists ASBL
            </p>
            <p hlmDialogDescription class="text-[10px]">
              6 rue Francisco Ferrer, 4460 Gr&acirc;ce-Hollogne
            </p>
            <p hlmDialogDescription class="text-[10px]">
              E-mail : sonar&#64;sonar.management
            </p>
            <p hlmDialogDescription class="text-[10px]">
              N&deg; de t&eacute;l&eacute;phone : +32 (0)498 62 45 65
            </p>
            <p hlmDialogDescription class="text-[10px]">
              N&deg; entreprise&#8239;: 0700.273.583
            </p>
            <p hlmDialogDescription class="text-[10px]">
              N&deg; TVA&#8239;: BE0700.273.583
            </p>
            <p hlmDialogDescription class="text-[10px]">
              Alors dans ce cas vous pouvez indiquer le montant de la TVA.
              Celui-ci ne sera pas d&eacute;biter de votre compte de projet.
            </p>
          </hlm-dialog-header>

          <form
            [formGroup]="virementSepaForm"
            class="flex flex-col gap-2 w-full"
            (ngSubmit)="createVirementSepa(ctx)"
          >
            <div>
              <input
                formControlName="account_owner"
                class="flex w-full rounded-full"
                hlmInput
                placeholder="Titulaire du compte"
                type="text"
              />
            </div>
            <div>
              <input
                formControlName="iban"
                class="flex w-full rounded-full"
                hlmInput
                placeholder="IBAN"
                type="text"
              />
            </div>
            <div>
              <input
                formControlName="amount_htva"
                class="flex w-full rounded-full"
                (input)="setAmountHtva($event)"
                hlmInput
                placeholder="Montant HTVA"
                type="number"
              />
            </div>
            <div>
              <input
                formControlName="amount_tva"
                class="flex w-full rounded-full"
                (input)="setAmountTva($event)"
                hlmInput
                placeholder="Montant TVA"
                type="number"
              />
            </div>
            <div>
              <input
                class="flex font-bold w-full rounded-full"
                [value]="amount_total()"
                hlmInput
                disabled
                placeholder="0€"
                type="number"
              />
            </div>
            <div>
              <input
                formControlName="communication"
                class="flex w-full rounded-full"
                hlmInput
                placeholder="Communication"
                type="text"
              />
            </div>
            <div>
              <input
                formControlName="structured_communication"
                class="flex w-full rounded-full"
                hlmInput
                placeholder="Communication Structurée"
                type="text"
              />
            </div>
            <div>
              <input
                class="flex w-full rounded-full"
                hlmInput
                type="file"
                (change)="onFileSelected($event)"
                accept=".pdf,.doc,.docx, .png, .jpg, .jpeg"
              />
            </div>
            <button class="rounded-full" hlmBtn type="submit">Envoyer</button>
          </form>
          @if(state.errorMessage() !== '') {
          <p class="text-red-600">{{ state.errorMessage() }}</p>
          }
        </hlm-dialog-content>
      </hlm-dialog>
    </div>
  </div>

  <div class="md:flex md:gap-5 w-full flex flex-col gap-5">
    <div class="flex flex-col gap-5">
      <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
        <p class="font-bold px-4 text-sm">Transfert sortant</p>
        <div class="overflow-auto touch-none w-full">
          <hlm-trow class="hidden lg:flex lg:justify-between">
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Date</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Expéditeur</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Destinataire</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Communication</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Montant</hlm-th>
          </hlm-trow>
          @for (transaction of state.transactionSender(); track transaction.id)
          {
          <hlm-trow
            class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
          >
            <div class="flex flex-col gap-2 lg:hidden">
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Date:</span>
                <span class="text-sm">{{ transaction.date | date }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Expéditeur:</span>
                <span class="text-sm">{{
                  transaction.senderPrincipal !== null
                    ? transaction.senderPrincipal.username || ""
                    : transaction.senderGroup.username || ""
                }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Destinataire:</span>
                @if (transaction.recipientGroup.length > 1 ||
                transaction.recipientPrincipal.length > 1) {
                <div class="text-right">
                  <span class="text-sm font-semibold"
                    >Destinataires multiples</span
                  >
                  <div class="mt-1">
                    @for (recipient of transaction.recipientGroup; track
                    recipient.id) { @if (recipient.username !==
                    state.accountGroup()?.username) {
                    <div class="text-sm">{{ recipient.username }}</div>
                    } } @for (recipient of transaction.recipientPrincipal; track
                    recipient.id) { @if (recipient.username !==
                    state.accountPrincipal()?.username) {
                    <div class="text-sm">{{ recipient.username }}</div>
                    } }
                  </div>
                </div>
                } @else {
                <span class="text-sm">
                  @if(transaction.recipientGroup!.length > 0 &&
                  transaction.recipientGroup[0]) {
                  {{ transaction.recipientGroup[0].username || "" }}
                  } @else if(transaction.recipientPrincipal!.length > 0 &&
                  transaction.recipientPrincipal[0]) {
                  {{ transaction.recipientPrincipal[0].username || "" }}
                  } @else {
                  {{ "" }}
                  }
                </span>
                }
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Communication:</span>
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Montant:</span>
                <span class="text-sm text-red-400"
                  >-{{
                    transaction.amount *
                      (transaction.recipientGroup.length +
                        transaction.recipientPrincipal.length) | euroFormat
                  }}</span
                >
              </div>
            </div>

            <div class="hidden lg:flex lg:justify-between w-full">
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.date | date
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.senderPrincipal !== null
                  ? transaction.senderPrincipal.username || ""
                  : transaction.senderGroup.username || ""
              }}</hlm-td>

              @if (transaction.recipientGroup.length > 1 ||
              transaction.recipientPrincipal.length > 1) {
              <div class="lg:w-[20%] px-4" hlmAccordion>
                <div class="border-b-0" hlmAccordionItem>
                  <button
                    class="hover:no-underline font-bold text-sm"
                    hlmAccordionTrigger
                  >
                    Destinataires multiples
                    <hlm-icon hlmAccIcon />
                  </button>
                  <hlm-accordion-content hlm>
                    @for (recipient of transaction.recipientGroup; track
                    recipient.id) { @if (recipient.username !==
                    state.accountGroup()?.username) {
                    <hlm-th class="lg:w-[20%] font-bold text-[10px]">{{
                      recipient.username
                    }}</hlm-th>
                    } } @for (recipient of transaction.recipientPrincipal; track
                    recipient.id) { @if (recipient.username !==
                    state.accountPrincipal()?.username) {
                    <hlm-th class="lg:w-[20%] font-bold text-[10px]">{{
                      recipient.username
                    }}</hlm-th>
                    } }
                  </hlm-accordion-content>
                </div>
              </div>
              } @else {
              <hlm-th class="lg:w-[20%] font-bold text-[10px]">
                @if(transaction.recipientGroup!.length > 0 &&
                transaction.recipientGroup![0]) {
                {{ transaction.recipientGroup![0].username || "" }}
                } @else if(transaction.recipientPrincipal!.length > 0 &&
                transaction.recipientPrincipal![0]) {
                {{ transaction.recipientPrincipal![0].username || "" }}
                } @else {
                {{ "" }}
                }
              </hlm-th>
              }

              <hlm-th class="lg:w-[20%] font-bold text-[10px]">
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </hlm-th>
              <hlm-th class="lg:w-[20%] font-bold text-[10px] text-red-400"
                >-{{
                  transaction.amount *
                    (transaction.recipientGroup.length +
                      transaction.recipientPrincipal.length) | euroFormat
                }}</hlm-th
              >
            </div>
          </hlm-trow>
          }
        </div>
      </hlm-table>

      @if (state.transactionSender()?.length) {
      <nav hlmPagination class="mt-4 flex justify-center">
        <ul
          hlmPaginationContent
          class="flex flex-wrap gap-1 justify-center items-center"
        >
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="pagination.sender.currentPage() === 1"
              [disabled]="pagination.sender.currentPage() === 1"
              (click)="
                pagination.sender.currentPage() > 1 &&
                  onPageChangeSender(pagination.sender.currentPage() - 1)
              "
            >
              Précédent
            </button>
          </li>

          @for (page of getVisiblePages(pagination.sender.currentPage(),
          pagination.sender.totalPages()); track $index) { @if (page ===
          'ellipsis') {
          <li hlmPaginationItem class="md:mx-1">
            <span class="px-3 py-1.5">...</span>
          </li>
          } @else {
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="min-w-[40px] h-9 px-3 py-1.5 text-sm font-medium transition-colors rounded-md"
              [class.bg-zinc-800]="pagination.sender.currentPage() === page"
              [class.text-white]="pagination.sender.currentPage() === page"
              [class.hover:bg-gray-100]="
                pagination.sender.currentPage() !== page
              "
              (click)="onPageChangeSender(page)"
            >
              {{ page }}
            </button>
          </li>
          } }

          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="
                pagination.sender.currentPage() ===
                pagination.sender.totalPages()
              "
              [disabled]="
                pagination.sender.currentPage() ===
                pagination.sender.totalPages()
              "
              (click)="
                pagination.sender.currentPage() <
                  pagination.sender.totalPages() &&
                  onPageChangeSender(pagination.sender.currentPage() + 1)
              "
            >
              Suivant
            </button>
          </li>
        </ul>
      </nav>
      }
    </div>

    <div class="flex flex-col gap-5">
      <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
        <p class="text-lg font-semibold px-4 mb-2">Transfert entrant</p>
        <div class="overflow-auto touch-none w-full">
          <hlm-trow class="hidden lg:flex lg:justify-between">
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Date</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Expéditeur</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Destinataire</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Communication</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Montant</hlm-th>
          </hlm-trow>

          @for (transaction of state.transactionRecipient(); track
          transaction.id) {
          <hlm-trow
            class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
          >
            <div class="flex flex-col gap-2 lg:hidden">
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Date:</span>
                <span class="text-sm">{{ transaction.date | date }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Expéditeur:</span>
                <span class="text-sm">
                  @if(transaction.senderGroup !== null) {
                  {{ transaction.senderGroup.username || "" }}
                  } @else if(transaction.senderPrincipal !== null) {
                  {{ transaction.senderPrincipal.username || "" }}
                  } @else {
                  {{ "" }}
                  }
                </span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Destinataire:</span>
                <span class="text-sm">{{
                  state.accountPrincipal()?.username ||
                    state.accountGroup()?.username
                }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Communication:</span>
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Montant:</span>
                <span class="text-sm text-green-400">{{
                  transaction.amount | euroFormat
                }}</span>
              </div>
            </div>

            <div class="hidden lg:flex lg:justify-between w-full">
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.date | date
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] text-sm">
                @if(transaction.senderGroup !== null) {
                {{ transaction.senderGroup.username || "" }}
                } @else if(transaction.senderPrincipal !== null) {
                {{ transaction.senderPrincipal.username || "" }}
                } @else {
                {{ "" }}
                }
              </hlm-td>
              <hlm-td class="lg:w-[20%] text-sm">{{
                state.accountPrincipal()?.username ||
                  state.accountGroup()?.username
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] font-bold text-[10px]">
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </hlm-td>
              <hlm-td class="lg:w-[20%] font-bold text-[10px] text-green-400">{{
                transaction.amount | euroFormat
              }}</hlm-td>
            </div>
          </hlm-trow>
          }
        </div>
      </hlm-table>

      @if (state.transactionRecipient()?.length) {
      <nav hlmPagination class="mt-4 flex justify-center">
        <ul
          hlmPaginationContent
          class="flex flex-wrap gap-1 justify-center items-center"
        >
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="pagination.recipient.currentPage() === 1"
              [disabled]="pagination.recipient.currentPage() === 1"
              (click)="
                pagination.recipient.currentPage() > 1 &&
                  onPageChangeRecipient(pagination.recipient.currentPage() - 1)
              "
            >
              Précédent
            </button>
          </li>

          @for (page of getVisiblePages(pagination.recipient.currentPage(),
          pagination.recipient.totalPages()); track $index) { @if (page ===
          'ellipsis') {
          <li hlmPaginationItem class="md:mx-1">
            <span class="px-3 py-1.5">...</span>
          </li>
          } @else {
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="min-w-[40px] h-9 px-3 py-1.5 text-sm font-medium transition-colors rounded-md"
              [class.bg-zinc-800]="pagination.recipient.currentPage() === page"
              [class.text-white]="pagination.recipient.currentPage() === page"
              [class.hover:bg-gray-100]="
                pagination.recipient.currentPage() !== page
              "
              (click)="onPageChangeRecipient(page)"
            >
              {{ page }}
            </button>
          </li>
          } }

          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="
                pagination.recipient.currentPage() ===
                pagination.recipient.totalPages()
              "
              [disabled]="
                pagination.recipient.currentPage() ===
                pagination.recipient.totalPages()
              "
              (click)="
                pagination.recipient.currentPage() <
                  pagination.recipient.totalPages() &&
                  onPageChangeRecipient(pagination.recipient.currentPage() + 1)
              "
            >
              Suivant
            </button>
          </li>
        </ul>
      </nav>
      }
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
      <p class="text-lg font-semibold px-4 mb-2">Virement</p>
      <div class="overflow-auto touch-none w-full">
        <hlm-trow class="hidden lg:flex lg:justify-between">
          <hlm-th class="lg:w-[11%] text-sm font-semibold">Date</hlm-th>
          <hlm-th class="lg:w-[11%] text-sm font-semibold">Titulaire</hlm-th>
          <hlm-th class="lg:w-[13%] text-sm font-semibold">IBAN</hlm-th>
          <hlm-th class="lg:w-[13%] text-sm font-semibold"
            >Communication</hlm-th
          >
          <hlm-th class="lg:w-[13%] text-sm font-semibold"
            >Comm. structurée</hlm-th
          >
          <hlm-th class="lg:w-[11%] text-sm font-semibold"
            >Montant total</hlm-th
          >
          <hlm-th class="lg:w-[11%] text-sm font-semibold"
            >Montant débité</hlm-th
          >
          <hlm-th class="lg:w-[8%] text-sm font-semibold">Facture</hlm-th>
          <hlm-th class="lg:w-[9%] text-sm font-semibold">Statut</hlm-th>
        </hlm-trow>

        @if(state.accountPrincipal()) { @for(virement of
        state.accountPrincipal()?.virementSepa; track virement.id) {
        <hlm-trow
          class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
        >
          <div class="flex flex-col gap-2 lg:hidden">
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Date:</span>
              <span class="text-sm">{{ virement.created_at | date }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Titulaire:</span>
              <span class="text-sm">{{ virement.account_owner }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">IBAN:</span>
              <span class="text-sm">{{ virement.iban }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Communication:</span>
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Comm. structurée:</span>
              <span class="text-sm">{{
                virement.structured_communication
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant total:</span>
              <span class="text-sm">{{
                virement.amount_htva | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant débité:</span>
              <span class="text-sm">{{
                virement.amount_total | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Facture:</span>
              <a
                class="text-sm text-blue-600 hover:text-blue-800"
                [href]="virement.invoice_url"
                target="_blank"
                >Voir</a
              >
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Statut:</span>
              <span
                class="text-sm px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{
                      virement.rejected_reason === null
                        ? "Aucun motif de rejet"
                        : virement.rejected_reason
                    }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </div>
          </div>

          <div class="hidden lg:flex lg:justify-between w-full">
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.created_at | date
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.account_owner
            }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{ virement.iban }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{
              virement.structured_communication
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_total | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_htva | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[8%] text-sm">
              <a
                class="text-blue-600 hover:text-blue-800"
                [href]="virement.invoice_url"
                target="_blank"
                >Voir</a
              >
            </hlm-td>
            <hlm-td class="lg:w-[9%] text-sm">
              <span
                class="px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{ virement.rejected_reason }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </hlm-td>
          </div>
        </hlm-trow>
        } } @else if (state.accountGroup()) { @for(virement of
        state.accountGroup()?.virementSepa; track virement.id) {
        <hlm-trow
          class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
        >
          <div class="flex flex-col gap-2 lg:hidden">
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Date:</span>
              <span class="text-sm">{{ virement.created_at | date }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Titulaire:</span>
              <span class="text-sm">{{ virement.account_owner }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">IBAN:</span>
              <span class="text-sm">{{ virement.iban }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Communication:</span>
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Comm. structurée:</span>
              <span class="text-sm">{{
                virement.structured_communication
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant total:</span>
              <span class="text-sm">{{
                virement.amount_total | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant débité:</span>
              <span class="text-sm">{{
                virement.amount_htva | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Facture:</span>
              <a
                class="text-sm text-blue-600 hover:text-blue-800"
                [href]="virement.invoice_url"
                target="_blank"
                >Voir</a
              >
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Statut:</span>
              <span
                class="text-sm px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{ virement.rejected_reason }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </div>
          </div>

          <div class="hidden lg:flex lg:justify-between w-full">
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.created_at | date
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.account_owner
            }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{ virement.iban }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{
              virement.structured_communication
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_total | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_htva | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[8%] text-sm">
              <a
                class="text-blue-600 hover:text-blue-800"
                [href]="virement.invoice_url"
                target="_blank"
                >Voir</a
              >
            </hlm-td>
            <hlm-td class="lg:w-[9%] text-sm">
              <span
                class="px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-[10px] bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{ virement.rejected_reason }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </hlm-td>
          </div>
        </hlm-trow>
        } }
      </div>
    </hlm-table>

    @if (state.accountPrincipal()?.virementSepa?.length ||
    state.accountGroup()?.virementSepa?.length) {
    <nav hlmPagination class="mt-4 flex justify-center">
      <ul
        hlmPaginationContent
        class="flex flex-wrap gap-1 justify-center items-center"
      >
        <li hlmPaginationItem class="md:mx-1">
          <button
            class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
            [class.opacity-50]="pagination.virement.currentPage() === 1"
            [disabled]="pagination.virement.currentPage() === 1"
            (click)="
              pagination.virement.currentPage() > 1 &&
                onPageChangeVirement(pagination.virement.currentPage() - 1)
            "
          >
            Précédent
          </button>
        </li>

        @for (page of getVisiblePages(pagination.virement.currentPage(),
        pagination.virement.totalPages()); track $index) { @if (page ===
        'ellipsis') {
        <li hlmPaginationItem class="md:mx-1">
          <span class="px-3 py-1.5">...</span>
        </li>
        } @else {
        <li hlmPaginationItem class="md:mx-1">
          <button
            class="min-w-[40px] h-9 px-3 py-1.5 text-sm font-medium transition-colors rounded-md"
            [class.bg-zinc-800]="pagination.virement.currentPage() === page"
            [class.text-white]="pagination.virement.currentPage() === page"
            [class.hover:bg-gray-100]="
              pagination.virement.currentPage() !== page
            "
            (click)="onPageChangeVirement(page)"
          >
            {{ page }}
          </button>
        </li>
        } }

        <li hlmPaginationItem class="md:mx-1">
          <button
            class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
            [class.opacity-50]="
              pagination.virement.currentPage() ===
              pagination.virement.totalPages()
            "
            [disabled]="
              pagination.virement.currentPage() ===
              pagination.virement.totalPages()
            "
            (click)="
              pagination.virement.currentPage() <
                pagination.virement.totalPages() &&
                onPageChangeVirement(pagination.virement.currentPage() + 1)
            "
          >
            Suivant
          </button>
        </li>
      </ul>
    </nav>
    }
  </div>
</div>
} @else {
<hlm-spinner class="mx-auto" />
} } @loading (minimum 500ms) {
<hlm-spinner class="mx-auto" />
}
