@defer () { @if (!state.isSpinner()) {
<button
  (click)="goBack()"
  class="w-fit mx-5 mb-5 rounded-full flex items-center gap-3"
  hlmBtn
>
  <hlm-icon size="sm" name="lucideCornerDownLeft" />
  Retour
</button>
<div class="bg-gray-sonar p-5 mx-5 rounded-xl flex flex-col gap-5">
  <div class="md:flex md:justify-between">
    <div class="flex justify-start w-full md:w-1/3">
      @if (state.accountPrincipal()) {
      <button
        class="bg-white flex flex-col justify-center items-center w-full rounded-2xl h-32 gap-2 shadow-lg"
      >
        <div>
          <p class="text-lg font-semibold">
            {{ state.accountPrincipal()?.username }}
          </p>
          <p class="text-xs font-medium">{{ state.accountPrincipal()?.id }}</p>
        </div>
        <p
          class="text-xl font-bold"
          [ngClass]="{
            'text-red-400': state.accountPrincipal()?.solde! < 0,
            'text-green-400': state.accountPrincipal()?.solde! > 0
          }"
        >
          {{ state.accountPrincipal()?.solde! | euroFormat }}
        </p>
      </button>
      } @else {
      <button
        class="bg-white flex flex-col justify-center items-center w-full rounded-2xl h-32 gap-2 shadow-lg"
      >
        <div>
          <p class="text-lg font-semibold">
            {{ state.accountGroup()?.username }}
          </p>
          <p class="text-xs font-medium">{{ state.accountGroup()?.id }}</p>
        </div>
        <p
          class="text-xl font-bold"
          [ngClass]="{
            'text-red-400': state.accountGroup()?.solde! < 0,
            'text-green-400': state.accountGroup()?.solde! > 0
          }"
        >
          {{ state.accountGroup()?.solde! | euroFormat }}
        </p>
      </button>
      }
    </div>

    <div class="md:flex md:flex-col mt-5 md:justify-end">
      <hlm-dialog>
        <button
          (click)="fetchAllAccount()"
          id="transfer"
          brnDialogTrigger
          class="rounded-full w-full px-10 flex items-center justify-center gap-2"
          hlmBtn
        >
          <hlm-icon name="lucideArrowLeftRight" size="sm" />
          Transfert d'argent
        </button>
        <hlm-dialog-content
          class="sm:max-w-[425px] rounded-xl m-2"
          *brnDialogContent="let ctx"
        >
          <hlm-dialog-header>
            <h3 hlmDialogTitle class="text-lg font-semibold">
              Transfert d'argent
            </h3>
            <p hlmDialogDescription class="text-sm text-gray-500">
              Choisissez un projet, ajoutez le montant et une communication.
              Cliquez sur envoyer lorsque vous avez terminé.
            </p>
          </hlm-dialog-header>

          <form
            [formGroup]="transactionForm"
            class="flex flex-col gap-4 mt-4"
            (ngSubmit)="sendTransaction(ctx)"
          >
            <div class="space-y-4">
              <div class="w-full">
                <label class="text-sm font-medium mb-1 block"
                  >Projets principaux</label
                >
                <brn-select
                  formControlName="recipientPrincipal"
                  class="rounded-full w-full"
                  placeholder="Selectionner des projets principals"
                  [multiple]="true"
                >
                  <hlm-select-trigger class="w-full max-w-[375px] rounded-full">
                    <hlm-select-value class="w-full" />
                  </hlm-select-trigger>
                  <hlm-select-content
                    class="w-full"
                    style="max-height: 200px; overflow-y: auto"
                  >
                    <input
                      hlmInput
                      type="text"
                      placeholder="Rechercher"
                      (input)="filterPrincipalAccounts($event)"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 mb-2"
                    />
                    @for (principalAccount of sortedPrincipalAccounts(); track
                    principalAccount.id) {
                    <hlm-option [value]="principalAccount.id" class="text-sm">
                      {{ principalAccount.username }}
                    </hlm-option>
                    }
                  </hlm-select-content>
                </brn-select>
              </div>

              <div class="w-full">
                <label class="text-sm font-medium mb-1 block"
                  >Projets de groupe</label
                >
                <brn-select
                  formControlName="recipientGroup"
                  class="rounded-full w-full"
                  placeholder="Selectionner des projets de groupe"
                  [multiple]="true"
                >
                  <hlm-select-trigger class="w-full max-w-[375px] rounded-full">
                    <hlm-select-value />
                  </hlm-select-trigger>
                  <hlm-select-content
                    class="w-full"
                    style="max-height: 200px; overflow-y: auto"
                  >
                    <input
                      hlmInput
                      type="text"
                      placeholder="Rechercher"
                      (input)="filterGroupAccounts($event)"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 mb-2"
                    />
                    @for (groupAccount of sortedGroupAccounts(); track
                    groupAccount.id) {
                    <hlm-option [value]="groupAccount.id" class="text-sm">
                      {{ groupAccount.username }}
                    </hlm-option>
                    }
                  </hlm-select-content>
                </brn-select>
              </div>

              <div class="w-full">
                <label class="text-sm font-medium mb-1 block">Montant</label>
                <input
                  formControlName="amount"
                  hlmInput
                  placeholder="Montant"
                  type="number"
                  class="rounded-full w-full"
                />
              </div>

              <div class="w-full">
                <label class="text-sm font-medium mb-1 block"
                  >Communication</label
                >
                <input
                  formControlName="communication"
                  hlmInput
                  placeholder="Communication"
                  type="text"
                  class="rounded-full w-full"
                />
              </div>
            </div>

            <div class="flex justify-end gap-3 mt-4">
              <button
                type="button"
                class="rounded-full px-4"
                hlmBtn
                variant="outline"
                (click)="ctx.close()"
                [disabled]="state.isLoadingTransfer()"
              >
                Annuler
              </button>
              <button
                class="rounded-full px-4 min-w-[100px] relative"
                hlmBtn
                type="submit"
                [disabled]="state.isLoadingTransfer()"
              >
                <span [class.opacity-0]="state.isLoadingTransfer()"
                  >Envoyer</span
                >
                @if(state.isLoadingTransfer()) {
                <div
                  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                >
                  <hlm-spinner class="h-4 w-4" />
                </div>
                }
              </button>
            </div>
          </form>
        </hlm-dialog-content>
      </hlm-dialog>

      <hlm-dialog>
        <button
          id="paie"
          brnDialogTrigger
          class="rounded-full w-full mt-5 px-10 flex items-center justify-center gap-2"
          hlmBtn
        >
          <hlm-icon name="lucideBanknote" size="sm" />
          Paiement SEPA
        </button>
        <hlm-dialog-content
          class="sm:max-w-[525px] rounded-xl m-2 max-h-[90vh] flex flex-col"
          *brnDialogContent="let ctx"
        >
          <hlm-dialog-header class="flex-none">
            <h3 hlmDialogTitle class="text-xl font-semibold text-red-600 mb-4">
              Paiement
            </h3>
            <div
              class="text-sm space-y-2 text-gray-600 bg-gray-50 p-4 rounded-lg"
            >
              <p class="font-medium mb-2">
                Si le virement effectué concerne une facture adressée à Sonar
                Artists ASBL :
              </p>
              <div class="space-y-1 pl-2">
                <p>6 rue Francisco Ferrer, 4460 Grâce-Hollogne</p>
                <p>E-mail : sonar&#64;sonar.management</p>
                <p>N° de téléphone : +32 (0)498 62 45 65</p>
                <p>N° entreprise : 0700.273.583</p>
                <p>N° TVA : BE0700.273.583</p>
              </div>
              <p class="text-red-500 font-medium mt-4">
                Dans ce cas, vous pouvez indiquer le montant de la TVA. Celui-ci
                ne sera pas débité de votre compte de projet.
              </p>
            </div>
          </hlm-dialog-header>

          <div
            class="overflow-y-auto flex-1 mt-8"
            style="scrollbar-width: none"
          >
            <form
              [formGroup]="virementSepaForm"
              class="flex flex-col gap-6"
              (ngSubmit)="createVirement(ctx)"
            >
              <div class="space-y-6">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                  <div class="w-full">
                    <label class="text-sm font-medium mb-2 block"
                      >Titulaire du compte</label
                    >
                    <input
                      formControlName="account_owner"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                      hlmInput
                      placeholder="Titulaire du compte"
                      type="text"
                    />
                  </div>

                  <div class="w-full">
                    <label class="text-sm font-medium mb-2 block">IBAN</label>
                    <input
                      formControlName="iban"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                      hlmInput
                      placeholder="IBAN"
                      type="text"
                    />
                  </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                  <div class="w-full">
                    <label class="text-sm font-medium mb-2 block"
                      >Montant Total</label
                    >
                    <input
                      formControlName="amount_htva"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                      (input)="setAmountHtva($event)"
                      hlmInput
                      placeholder="Montant total"
                      type="number"
                    />
                  </div>

                  <div class="w-full">
                    <label class="text-sm font-medium mb-2 block"
                      >Montant TVA</label
                    >
                    <input
                      formControlName="amount_tva"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                      (input)="setAmountTva($event)"
                      hlmInput
                      placeholder="Montant TVA"
                      type="number"
                    />
                  </div>
                </div>

                <div class="w-full">
                  <label class="text-sm font-medium mb-2 block"
                    >Montant débité du projet</label
                  >
                  <input
                    class="rounded-full w-full font-bold focus:outline-none bg-gray-50 focus-visible:ring-0 focus-visible:ring-offset-0"
                    [value]="amount_debited()"
                    hlmInput
                    disabled
                    placeholder="0€"
                    type="number"
                  />
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                  <div class="w-full">
                    <label class="text-sm font-medium mb-2 block"
                      >Communication</label
                    >
                    <input
                      formControlName="communication"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                      hlmInput
                      placeholder="Communication"
                      type="text"
                    />
                  </div>

                  <div class="w-full">
                    <label class="text-sm font-medium mb-2 block"
                      >Communication structurée</label
                    >
                    <input
                      formControlName="structured_communication"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                      hlmInput
                      placeholder="Communication structurée"
                      type="text"
                    />
                  </div>
                </div>

                <div class="w-full">
                  <label class="text-sm font-medium mb-2 block">Facture</label>
                  <div class="relative">
                    <input
                      hlmInput
                      type="file"
                      (change)="onFileSelected($event)"
                      accept=".pdf,.doc,.docx,.png,.jpg,.jpeg"
                      class="rounded-full w-full focus:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
                    />
                  </div>
                </div>
              </div>

              <div
                class="flex justify-end gap-3 mt-6 sticky bottom-0 bg-white py-4"
              >
                @if(state.errorMessage() !== '') {
                <p class="mt-4 text-sm text-red-600 text-center">
                  {{ state.errorMessage() }}
                </p>
                }
                <button
                  type="button"
                  class="rounded-full px-6 self-center"
                  hlmBtn
                  variant="outline"
                  (click)="ctx.close()"
                  [disabled]="state.isLoadingVirement()"
                >
                  Annuler
                </button>
                <button
                  class="rounded-full px-6 min-w-[120px] relative"
                  hlmBtn
                  type="submit"
                  [disabled]="state.isLoadingVirement()"
                >
                  <span [class.opacity-0]="state.isLoadingVirement()"
                    >Envoyer</span
                  >
                  @if(state.isLoadingVirement()) {
                  <div
                    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  >
                    <hlm-spinner class="h-4 w-4" />
                  </div>
                  }
                </button>
              </div>
            </form>
          </div>
        </hlm-dialog-content>
      </hlm-dialog>
    </div>
  </div>

  <div class="md:flex md:gap-5 w-full flex flex-col gap-5">
    <div class="flex flex-col gap-5">
      <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
        <p class="font-bold px-4 text-sm">Transfert sortant</p>
        <div class="overflow-auto touch-none w-full">
          <hlm-trow class="hidden lg:flex lg:justify-between">
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Date</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Expéditeur</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Destinataire</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Communication</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Montant</hlm-th>
          </hlm-trow>
          @for (transaction of state.transactionSender(); track transaction.id)
          {
          <hlm-trow
            class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
          >
            <div class="flex flex-col gap-2 lg:hidden">
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Date:</span>
                <span class="text-sm">{{
                  transaction.date | date : "dd/MM/yyyy"
                }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Expéditeur:</span>
                <span class="text-sm">{{
                  transaction.senderPrincipal !== null
                    ? transaction.senderPrincipal.username || ""
                    : transaction.senderGroup.username || ""
                }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Destinataire:</span>
                @if (transaction.recipientGroup.length > 1 ||
                transaction.recipientPrincipal.length > 1) {
                <div class="text-right">
                  <span class="text-sm font-semibold"
                    >Destinataires multiples</span
                  >
                  <div class="mt-1">
                    @for (recipient of transaction.recipientGroup; track
                    recipient.id) { @if (recipient.username !==
                    state.accountGroup()?.username) {
                    <div class="text-sm">{{ recipient.username }}</div>
                    } } @for (recipient of transaction.recipientPrincipal; track
                    recipient.id) { @if (recipient.username !==
                    state.accountPrincipal()?.username) {
                    <div class="text-sm">{{ recipient.username }}</div>
                    } }
                  </div>
                </div>
                } @else {
                <span class="text-sm">
                  @if(transaction.recipientGroup!.length > 0 &&
                  transaction.recipientGroup[0]) {
                  {{ transaction.recipientGroup[0].username || "" }}
                  } @else if(transaction.recipientPrincipal!.length > 0 &&
                  transaction.recipientPrincipal[0]) {
                  {{ transaction.recipientPrincipal[0].username || "" }}
                  } @else {
                  {{ "" }}
                  }
                </span>
                }
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Communication:</span>
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Montant:</span>
                <span class="text-sm text-red-400"
                  >-{{
                    transaction.amount *
                      (transaction.recipientGroup.length +
                        transaction.recipientPrincipal.length) | euroFormat
                  }}</span
                >
              </div>
            </div>

            <div class="hidden lg:flex lg:justify-between w-full">
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.date | date : "dd/MM/yyyy"
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.senderPrincipal !== null
                  ? transaction.senderPrincipal.username || ""
                  : transaction.senderGroup.username || ""
              }}</hlm-td>

              @if (transaction.recipientGroup.length > 1 ||
              transaction.recipientPrincipal.length > 1) {
              <div class="lg:w-[20%] px-4" hlmAccordion>
                <div class="border-b-0" hlmAccordionItem>
                  <button
                    class="hover:no-underline font-bold text-sm"
                    hlmAccordionTrigger
                  >
                    Destinataires multiples
                    <hlm-icon hlmAccIcon />
                  </button>
                  <hlm-accordion-content hlm>
                    @for (recipient of transaction.recipientGroup; track
                    recipient.id) { @if (recipient.username !==
                    state.accountGroup()?.username) {
                    <hlm-th class="lg:w-[20%] font-bold text-[10px]">{{
                      recipient.username
                    }}</hlm-th>
                    } } @for (recipient of transaction.recipientPrincipal; track
                    recipient.id) { @if (recipient.username !==
                    state.accountPrincipal()?.username) {
                    <hlm-th class="lg:w-[20%] font-bold text-[10px]">{{
                      recipient.username
                    }}</hlm-th>
                    } }
                  </hlm-accordion-content>
                </div>
              </div>
              } @else {
              <hlm-th class="lg:w-[20%] font-bold text-[10px]">
                @if(transaction.recipientGroup!.length > 0 &&
                transaction.recipientGroup![0]) {
                {{ transaction.recipientGroup![0].username || "" }}
                } @else if(transaction.recipientPrincipal!.length > 0 &&
                transaction.recipientPrincipal![0]) {
                {{ transaction.recipientPrincipal![0].username || "" }}
                } @else {
                {{ "" }}
                }
              </hlm-th>
              }

              <hlm-th class="lg:w-[20%] font-bold text-[10px]">
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </hlm-th>
              <hlm-th class="lg:w-[20%] font-bold text-[10px] text-red-400"
                >-{{
                  transaction.amount *
                    (transaction.recipientGroup.length +
                      transaction.recipientPrincipal.length) | euroFormat
                }}</hlm-th
              >
            </div>
          </hlm-trow>
          }
        </div>
      </hlm-table>

      @if (state.transactionSender()?.length) {
      <nav hlmPagination class="mt-4 flex justify-center">
        <ul
          hlmPaginationContent
          class="flex flex-wrap gap-1 justify-center items-center"
        >
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="pagination.sender.currentPage() === 1"
              [disabled]="pagination.sender.currentPage() === 1"
              (click)="
                pagination.sender.currentPage() > 1 &&
                  onPageChangeSender(pagination.sender.currentPage() - 1)
              "
            >
              Précédent
            </button>
          </li>

          @for (page of getVisiblePages(pagination.sender.currentPage(),
          pagination.sender.totalPages()); track $index) { @if (page ===
          'ellipsis') {
          <li hlmPaginationItem class="md:mx-1">
            <span class="px-3 py-1.5">...</span>
          </li>
          } @else {
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="min-w-[40px] h-9 px-3 py-1.5 text-sm font-medium transition-colors rounded-md"
              [class.bg-zinc-800]="pagination.sender.currentPage() === page"
              [class.text-white]="pagination.sender.currentPage() === page"
              [class.hover:bg-gray-100]="
                pagination.sender.currentPage() !== page
              "
              (click)="onPageChangeSender(page)"
            >
              {{ page }}
            </button>
          </li>
          } }

          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="
                pagination.sender.currentPage() ===
                pagination.sender.totalPages()
              "
              [disabled]="
                pagination.sender.currentPage() ===
                pagination.sender.totalPages()
              "
              (click)="
                pagination.sender.currentPage() <
                  pagination.sender.totalPages() &&
                  onPageChangeSender(pagination.sender.currentPage() + 1)
              "
            >
              Suivant
            </button>
          </li>
        </ul>
      </nav>
      }
    </div>

    <div class="flex flex-col gap-5">
      <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
        <p class="text-lg font-semibold px-4 mb-2">Transfert entrant</p>
        <div class="overflow-auto touch-none w-full">
          <hlm-trow class="hidden lg:flex lg:justify-between">
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Date</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Expéditeur</hlm-th>
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Destinataire</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold"
              >Communication</hlm-th
            >
            <hlm-th class="lg:w-[20%] text-sm font-semibold">Montant</hlm-th>
          </hlm-trow>

          @for (transaction of state.transactionRecipient(); track
          transaction.id) {
          <hlm-trow
            class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
          >
            <div class="flex flex-col gap-2 lg:hidden">
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Date:</span>
                <span class="text-sm">{{
                  transaction.date | date : "dd/MM/yyyy"
                }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Expéditeur:</span>
                <span class="text-sm">
                  @if(transaction.senderGroup !== null) {
                  {{ transaction.senderGroup.username || "" }}
                  } @else if(transaction.senderPrincipal !== null) {
                  {{ transaction.senderPrincipal.username || "" }}
                  } @else {
                  {{ "" }}
                  }
                </span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Destinataire:</span>
                <span class="text-sm">{{
                  state.accountPrincipal()?.username ||
                    state.accountGroup()?.username
                }}</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Communication:</span>
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm font-semibold">Montant:</span>
                <span class="text-sm text-green-400">{{
                  transaction.amount | euroFormat
                }}</span>
              </div>
            </div>

            <div class="hidden lg:flex lg:justify-between w-full">
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.date | date : "dd/MM/yyyy"
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] text-sm">{{
                transaction.senderPrincipal !== null
                  ? transaction.senderPrincipal.username || ""
                  : transaction.senderGroup.username || ""
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] text-sm">{{
                state.accountPrincipal()?.username ||
                  state.accountGroup()?.username
              }}</hlm-td>
              <hlm-td class="lg:w-[20%] font-bold text-[10px]">
                <brn-popover>
                  <button
                    brnPopoverTrigger
                    class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                  >
                    {{ transaction.communication }}
                  </button>
                  <div
                    class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                    hlmPopoverContent
                    *brnPopoverContent="let ctx"
                  >
                    {{ transaction.communication }}
                  </div>
                </brn-popover>
              </hlm-td>
              <hlm-td class="lg:w-[20%] font-bold text-[10px] text-green-400">{{
                transaction.amount | euroFormat
              }}</hlm-td>
            </div>
          </hlm-trow>
          }
        </div>
      </hlm-table>

      @if (state.transactionRecipient()?.length) {
      <nav hlmPagination class="mt-4 flex justify-center">
        <ul
          hlmPaginationContent
          class="flex flex-wrap gap-1 justify-center items-center"
        >
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="pagination.recipient.currentPage() === 1"
              [disabled]="pagination.recipient.currentPage() === 1"
              (click)="
                pagination.recipient.currentPage() > 1 &&
                  onPageChangeRecipient(pagination.recipient.currentPage() - 1)
              "
            >
              Précédent
            </button>
          </li>

          @for (page of getVisiblePages(pagination.recipient.currentPage(),
          pagination.recipient.totalPages()); track $index) { @if (page ===
          'ellipsis') {
          <li hlmPaginationItem class="md:mx-1">
            <span class="px-3 py-1.5">...</span>
          </li>
          } @else {
          <li hlmPaginationItem class="md:mx-1">
            <button
              class="min-w-[40px] h-9 px-3 py-1.5 text-sm font-medium transition-colors rounded-md"
              [class.bg-zinc-800]="pagination.recipient.currentPage() === page"
              [class.text-white]="pagination.recipient.currentPage() === page"
              [class.hover:bg-gray-100]="
                pagination.recipient.currentPage() !== page
              "
              (click)="onPageChangeRecipient(page)"
            >
              {{ page }}
            </button>
          </li>
          } }

          <li hlmPaginationItem class="md:mx-1">
            <button
              class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
              [class.opacity-50]="
                pagination.recipient.currentPage() ===
                pagination.recipient.totalPages()
              "
              [disabled]="
                pagination.recipient.currentPage() ===
                pagination.recipient.totalPages()
              "
              (click)="
                pagination.recipient.currentPage() <
                  pagination.recipient.totalPages() &&
                  onPageChangeRecipient(pagination.recipient.currentPage() + 1)
              "
            >
              Suivant
            </button>
          </li>
        </ul>
      </nav>
      }
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
      <p class="text-lg font-semibold px-4 mb-2">Virement</p>
      <div class="overflow-auto touch-none w-full">
        <hlm-trow class="hidden lg:flex lg:justify-between">
          <hlm-th class="lg:w-[11%] text-sm font-semibold">Date</hlm-th>
          <hlm-th class="lg:w-[11%] text-sm font-semibold">Titulaire</hlm-th>
          <hlm-th class="lg:w-[13%] text-sm font-semibold">IBAN</hlm-th>
          <hlm-th class="lg:w-[13%] text-sm font-semibold"
            >Communication</hlm-th
          >
          <hlm-th class="lg:w-[13%] text-sm font-semibold"
            >Comm. structurée</hlm-th
          >
          <hlm-th class="lg:w-[11%] text-sm font-semibold"
            >Montant total</hlm-th
          >
          <hlm-th class="lg:w-[11%] text-sm font-semibold"
            >Montant débité</hlm-th
          >
          <hlm-th class="lg:w-[8%] text-sm font-semibold">Facture</hlm-th>
          <hlm-th class="lg:w-[9%] text-sm font-semibold">Statut</hlm-th>
        </hlm-trow>

        @if(state.accountPrincipal()) { @for(virement of
        state.accountPrincipal()?.virementSepa; track virement.id) {
        <hlm-trow
          class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
        >
          <div class="flex flex-col gap-2 lg:hidden">
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Date:</span>
              <span class="text-sm">{{
                virement.created_at | date : "dd/MM/yyyy"
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Titulaire:</span>
              <span class="text-sm">{{ virement.account_owner }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">IBAN:</span>
              <span class="text-sm">{{ virement.iban }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Communication:</span>
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Comm. structurée:</span>
              <span class="text-sm">{{
                virement.structured_communication
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant total:</span>
              <span class="text-sm">{{
                virement.amount_htva | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant débité:</span>
              <span class="text-sm">{{
                virement.amount_total | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Facture:</span>
              <a
                class="text-sm text-blue-600 border p-2 border-blue-600 transition-all rounded-full hover:bg-blue-600 hover:text-white"
                [href]="virement.invoice_url"
                target="_blank"
                >Voir</a
              >
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Statut:</span>
              <span
                class="text-sm px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{
                      virement.rejected_reason === null
                        ? "Aucun motif de rejet"
                        : virement.rejected_reason
                    }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </div>
          </div>

          <div class="hidden lg:flex lg:justify-between w-full">
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.created_at | date : "dd/MM/yyyy"
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.account_owner
            }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{ virement.iban }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{
              virement.structured_communication
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_total | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_htva | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[8%] text-sm">
              <a
                [href]="virement.invoice_url"
                target="_blank"
                class="text-blue-600 border p-2 border-blue-600 transition-all rounded-full hover:bg-blue-600 hover:text-white"
                >Voir</a
              >
            </hlm-td>
            <hlm-td class="lg:w-[9%] text-sm">
              <span
                class="px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{ virement.rejected_reason }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </hlm-td>
          </div>
        </hlm-trow>
        } } @else if (state.accountGroup()) { @for(virement of
        state.accountGroup()?.virementSepa; track virement.id) {
        <hlm-trow
          class="flex flex-col lg:flex-row lg:justify-between border-b lg:border-none p-2 lg:p-0"
        >
          <div class="flex flex-col gap-2 lg:hidden">
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Date:</span>
              <span class="text-sm">{{
                virement.created_at | date : "dd/MM/yyyy"
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Titulaire:</span>
              <span class="text-sm">{{ virement.account_owner }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">IBAN:</span>
              <span class="text-sm">{{ virement.iban }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Communication:</span>
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="text-sm truncate max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-sm max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Comm. structurée:</span>
              <span class="text-sm">{{
                virement.structured_communication
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant total:</span>
              <span class="text-sm">{{
                virement.amount_total | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Montant débité:</span>
              <span class="text-sm">{{
                virement.amount_htva | euroFormat
              }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Facture:</span>
              <a
                class="text-sm text-blue-600 border p-2 border-blue-600 transition-all rounded-full hover:bg-blue-600 hover:text-white"
                [href]="virement.invoice_url"
                target="_blank"
                >Voir</a
              >
            </div>
            <div class="flex justify-between items-center">
              <span class="text-sm font-semibold">Statut:</span>
              <span
                class="text-sm px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{ virement.rejected_reason }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </div>
          </div>

          <div class="hidden lg:flex lg:justify-between w-full">
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.created_at | date : "dd/MM/yyyy"
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.account_owner
            }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{ virement.iban }}</hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">
              <brn-popover>
                <button
                  brnPopoverTrigger
                  class="truncate block max-w-[150px] cursor-pointer hover:text-gray-600 text-left"
                >
                  {{ virement.communication }}
                </button>
                <div
                  class="p-2 text-[10px] max-w-[200px] bg-white rounded shadow-lg"
                  hlmPopoverContent
                  *brnPopoverContent="let ctx"
                >
                  {{ virement.communication }}
                </div>
              </brn-popover>
            </hlm-td>
            <hlm-td class="lg:w-[13%] text-sm">{{
              virement.structured_communication
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_total | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[11%] text-sm">{{
              virement.amount_htva | euroFormat
            }}</hlm-td>
            <hlm-td class="lg:w-[8%] text-sm">
              <a
                [href]="virement.invoice_url"
                target="_blank"
                class="text-blue-600 border p-2 border-blue-600 transition-all rounded-full hover:bg-blue-600 hover:text-white"
                >Voir</a
              >
            </hlm-td>
            <hlm-td class="lg:w-[9%] text-sm">
              <span
                class="px-2 py-1 rounded-full cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    virement.status === 'ACCEPTED' ||
                    virement.status === 'PAID',
                  'bg-yellow-100 text-yellow-800':
                    virement.status === 'PENDING',
                  'bg-red-100 text-red-800': virement.status === 'REJECTED'
                }"
              >
                @if (virement.status === 'REJECTED') {
                <brn-popover>
                  <button brnPopoverTrigger class="flex items-center gap-1">
                    Rejeté
                    <hlm-icon name="lucideBell" size="sm" />
                  </button>
                  <div
                    hlmPopoverContent
                    class="p-2 text-sm bg-white rounded shadow-lg"
                    *brnPopoverContent="let ctx"
                  >
                    {{ virement.rejected_reason }}
                  </div>
                </brn-popover>
                } @else {
                {{
                  virement.status === "ACCEPTED"
                    ? "Accepté"
                    : virement.status === "PAID"
                    ? "Payé"
                    : "En attente"
                }}
                }
              </span>
            </hlm-td>
          </div>
        </hlm-trow>
        } }
      </div>
    </hlm-table>

    @if (state.accountPrincipal()?.virementSepa?.length ||
    state.accountGroup()?.virementSepa?.length) {
    <nav hlmPagination class="mt-4 flex justify-center">
      <ul
        hlmPaginationContent
        class="flex flex-wrap gap-1 justify-center items-center"
      >
        <li hlmPaginationItem class="md:mx-1">
          <button
            class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
            [class.opacity-50]="pagination.virement.currentPage() === 1"
            [disabled]="pagination.virement.currentPage() === 1"
            (click)="
              pagination.virement.currentPage() > 1 &&
                onPageChangeVirement(pagination.virement.currentPage() - 1)
            "
          >
            Précédent
          </button>
        </li>

        @for (page of getVisiblePages(pagination.virement.currentPage(),
        pagination.virement.totalPages()); track $index) { @if (page ===
        'ellipsis') {
        <li hlmPaginationItem class="md:mx-1">
          <span class="px-3 py-1.5">...</span>
        </li>
        } @else {
        <li hlmPaginationItem class="md:mx-1">
          <button
            class="min-w-[40px] h-9 px-3 py-1.5 text-sm font-medium transition-colors rounded-md"
            [class.bg-zinc-800]="pagination.virement.currentPage() === page"
            [class.text-white]="pagination.virement.currentPage() === page"
            [class.hover:bg-gray-100]="
              pagination.virement.currentPage() !== page
            "
            (click)="onPageChangeVirement(page)"
          >
            {{ page }}
          </button>
        </li>
        } }

        <li hlmPaginationItem class="md:mx-1">
          <button
            class="px-3 py-1.5 text-sm font-medium transition-colors hover:bg-gray-100 rounded-md"
            [class.opacity-50]="
              pagination.virement.currentPage() ===
              pagination.virement.totalPages()
            "
            [disabled]="
              pagination.virement.currentPage() ===
              pagination.virement.totalPages()
            "
            (click)="
              pagination.virement.currentPage() <
                pagination.virement.totalPages() &&
                onPageChangeVirement(pagination.virement.currentPage() + 1)
            "
          >
            Suivant
          </button>
        </li>
      </ul>
    </nav>
    }
  </div>
</div>
} @else {
<hlm-spinner class="mx-auto" />
} } @loading (minimum 500ms) {
<hlm-spinner class="mx-auto" />
}
