<div class="m-10 flex flex-col items-center md:items-end gap-4">
    <hlm-dialog>
        <button id="edit-profile" brnDialogTrigger class="rounded-full w-80" hlmBtn>Ajouter un membre</button>
        <hlm-dialog-content class="w-72 rounded-xl m-2" *brnDialogContent="let ctx">
          <hlm-dialog-header>
            <h3 hlmDialogTitle>Ajouter un membre</h3>
            <p hlmDialogDescription>Ajoutez un nouveau membre au projet de groupe ici. Cliquez sur enregistrer lorsque vous avez terminé.</p>
          </hlm-dialog-header>
          <div class="">
            <div class="w-full flex">
              <brn-select class="flex flex-col items-center w-full rounded-full" placeholder="Selectionner un utilisateur">
                <hlm-select-trigger>
                  <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="flex flex-col w-full">
                  <hlm-option class="flex w-full" value="Refresh">Pierre Godfrin</hlm-option>
                  <hlm-option value="Settings">Manon</hlm-option>
                  <hlm-option value="Help">Ryan</hlm-option>
                  <hlm-option value="Signout">Dimagin</hlm-option>
                </hlm-select-content>
              </brn-select>
            </div>
          </div>
          <hlm-dialog-footer>
            <button class="rounded-full" hlmBtn type="submit">Enregistrer</button>
          </hlm-dialog-footer>
        </hlm-dialog-content>
      </hlm-dialog>

    <hlm-table class="overflow-x-auto w-full p-4 bg-gray-sonar rounded-xl">
        <hlm-trow class="flex flex-col sm:flex-row">
          <hlm-th class="w-full sm:w-52">Date </hlm-th>
          <hlm-th class="w-full sm:w-60">Personne invitée</hlm-th>
          <hlm-th class="w-full sm:flex-1">Viewer</hlm-th>
          <hlm-th class="w-full sm:flex-1">Admin</hlm-th>
          
        </hlm-trow>
        @for (invoice of _invoices; track invoice.invoice) {
          <hlm-trow class="flex flex-col sm:flex-row">
                <hlm-td class="font-medium w-full sm:w-52 truncate">{{ invoice.invoice }}</hlm-td>

                <hlm-td class="w-full sm:w-60">{{ invoice.paymentStatus }}</hlm-td>

                <hlm-td class="flex flex-col w-full gap-2 sm:flex-1">        
                        <label class="flex items-center w-full" hlmLabel>
                            <hlm-checkbox class="mr-2" />
                            Compte du groupe
                        </label>

                        <label class="flex items-center w-full" hlmLabel>
                            <hlm-checkbox class="mr-2" />
                            Facturation
                        </label>

                        <label class="flex items-center w-full" hlmLabel>
                            <hlm-checkbox class="mr-2" />
                            Gestion d'équipe
                        </label>

                        <label class="flex items-center w-full" hlmLabel>
                            <hlm-checkbox class="mr-2" />
                            Agenda
                        </label>
                </hlm-td>

                <hlm-td class="flex flex-col w-full gap-2 sm:flex-1">       
                    <label class="flex items-center w-full" hlmLabel>
                    <hlm-checkbox class="mr-2" />
                    Compte du groupe
                    </label>

                    <label class="flex items-center w-full" hlmLabel>
                        <hlm-checkbox class="mr-2" />
                        Facturation
                    </label>

                    <label class="flex items-center w-full" hlmLabel>
                        <hlm-checkbox class="mr-2" />
                        Gestion d'équipe
                    </label>

                    <label class="flex items-center w-full" hlmLabel>
                        <hlm-checkbox class="mr-2" />
                        Agenda
                    </label>
                </hlm-td>

          </hlm-trow>
        }
    </hlm-table>
</div>