<div>
  <hlm-icon (click)="toggleMenu()" size="lg" name="lucideAlignJustify" />
  @if (isToggleMenu()) {
  <div
    class="gap-2 justify-center items-center flex flex-col bg-white h-screen w-screen absolute top-0 left-0 z-50 xl:hidden"
  >
    <div
      class="py-5 px-10 h-20 flex gap-5 rounded justify-between items-center w-full"
    >
      <img
        class="w-36 items-center"
        src="assets/images/Groupe-30.png"
        alt="Logo"
      />
      <hlm-icon
        (click)="toggleMenu()"
        class="text-black items-center"
        size="lg"
        name="lucideX"
      />
    </div>
    @if (isUserConnected()) {
    <hlm-menu-bar
      class="w-fit border-none flex flex-col justify-center items-center h-screen bg-transparent text-base *:font-bold"
    >
      <a
        routerLink="/home"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Accueil</a
      >
      <a
        routerLink="/profile"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Profil</a
      >

      @if (connectedUser()?.role === 'ADMIN') {
      <a
        routerLink="/user-validation"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Validation utilisateur</a
      >
      <a
        routerLink="/sepa-validation"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Validation virement SEPA</a
      >
      <a
        routerLink="/creating-new-users"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Création nouveau membre</a
      >
      <a
        routerLink="/meet"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Rendez-vous Visio</a
      >
      <a
        routerLink="/all-invoices"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Liste des factures</a
      >
      <a
        routerLink="/all-quotes"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Liste des devis</a
      >

      } @if (isPwaInstallable()) {
      <button
        (click)="installPwa()"
        class="flex w-full bg-gray-sonar text-black rounded-full mt-3"
        hlmBtn
      >
        <div class="flex items-center gap-2">
          <hlm-icon name="lucideDownload" size="sm" />
          <span>Installer l'application</span>
        </div>
      </button>
      }

      <button
        (click)="logout()"
        class="flex w-full bg-black mt-3 text-white rounded-full"
        hlmBtn
      >
        Déconnexion
      </button>
    </hlm-menu-bar>
    } @else {
    <hlm-menu-bar
      class="w-fit border-none flex flex-col justify-center items-center h-screen bg-transparent text-base *:font-bold"
    >
      @if (router.url === '/login') {
      <a
        routerLink="/register"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Inscription</a
      >
      } @else if (router.url !== '/register') {
      <a
        routerLink="/login"
        (click)="toggleMenu()"
        class="*:text-black"
        hlmMenuBarItem
        >Connexion</a
      >
      } @if (isPwaInstallable()) {
      <button
        (click)="installPwa()"
        class="flex w-full bg-gray-sonar text-black rounded-full mt-3"
        hlmBtn
      >
        <div class="flex items-center gap-2">
          <hlm-icon name="lucideDownload" size="sm" />
          <span>Installer l'application</span>
        </div>
      </button>
      }
    </hlm-menu-bar>
    }
  </div>
  }
</div>
