<div class="flex flex-col justify-items-center">
    <div class="max-w-xl mx-10 overflow-hidden rounded-2xl shadow md:w-full">
        <div [hlmAspectRatio]="16 / 5">
          <img alt="Mountain views" src="/assets/images/home-group-picture.PNG" />
          <hlm-icon size='xl' name="lucideEdit" />
        </div>
    </div>

    <div class="px-10 py-4 font-bold">
        <p>Nom du projet</p>
    </div>

    <div class="flex justify-center mx-10">
        <div class="grid grid-cols-2 gap-2 w-full">
            <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black" hlmBtn>Gérer les membres</button>
            <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black" hlmBtn>Agenda du projet</button>
            <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black" hlmBtn>Compte du projet</button>
            <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black" hlmBtn>Facturation</button>
        </div>
    </div>
    
</div>
