<div class="flex flex-col justify-center">
  <div class="background-div h-40 max-w-full md:h-60 relative mx-10 overflow-hidden rounded-2xl shadow">
    <div class="absolute bottom-2 right-2 size-5 bg-white rounded-full flex justify-center items-center">
      <hlm-icon class="w-3" name="lucideEdit"/>
    </div>
  </div>

  <div class="px-10 py-4 font-bold">
    <p>Nom du projet</p>
  </div>

  <div class="flex justify-center mx-10">
    <div class="grid grid-cols-2 gap-2 w-full">
      <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black"
              hlmBtn>Gérer les membres
      </button>
      <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black"
              hlmBtn>Agenda du projet
      </button>
      <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black"
              hlmBtn>Compte du projet
      </button>
      <button class="rounded-full w-full md:w-1/2 text-[10px] md:text-sm font-semibold h-auto  bg-gray-sonar text-black"
              hlmBtn>Facturation
      </button>
    </div>
  </div>

</div>
