<div class="container">
  <button (click)="goBack()" class="w-fit  mb-5 rounded-full flex items-center gap-3" hlmBtn>
  <hlm-icon size="sm" name="lucideCornerDownLeft"/>
  Retour
</button>
  <div class="container p-5 flex flex-col gap-2 bg-gray-sonar rounded-2xl md:p-10">
    <div class="flex justify-between items-center ">
      <h2 class="text-lg md:text-3xl font-bold">Nouvelle note de crédit</h2>

    </div>


    <form class="flex flex-col gap-5" (ngSubmit)="createCreditNote()">
      <div class="flex flex-col justify-center items-center  md:flex-row">
        <label class="w-full font-semibold text-base rounded-full md:text-lg md:w-1/2" hlmLabel
        >Date
          <input readonly
                 class="w-full bg-white shadow-lg text-xs rounded-full md:text-base"
                 hlmInput type="text"
                 placeholder="2024-08-12"
                 [value]="invoice()?.invoice_date | date : 'dd/MM/yyyy'"
          />
        </label>

        <label class="w-full font-semibold text-base rounded-full md:text-lg md:w-1/2" hlmLabel
        >Date de prestation
          <input class="w-full bg-white shadow-lg text-xs rounded-full md:text-base"
                 hlmInput type="text"
                 [value]="invoice()?.service_date | date : 'dd/MM/yyyy'"
          />
        </label>
      </div>

      <label class="w-full font-semibold text-base rounded-full md:text-lg md:w-1/2" hlmLabel
      >Délais de paiement
        <input class="w-full bg-white shadow-lg text-xs rounded-full md:text-base"
               hlmInput type="number" [value]="invoice()?.payment_deadline"
               min="10" max="30" placeholder="10"/>
      </label>


      <div class="flex flex-col gap-2 w-full lg:w-1/2">
        <h2 class="w-full font-semibold text-text-base rounded-full md:text-lg md:w-1/2">Coordonnées du client</h2>
        <div class="bg-white p-10 rounded-3xl shadow-lg text-xs md:text-lg">
          <p class="font-bold">{{ invoice()?.client?.name }}</p>
          <p>{{ invoice()?.client?.street }} {{ invoice()?.client?.number }}</p>
          <p>{{ invoice()?.client?.city }} {{ invoice()?.client?.postalCode }} {{ invoice()?.client?.country }}</p>
          <p>TVA: BE {{ client()?.company_vat_number }}</p>
        </div>
      </div>

      <brn-separator hlmSeparator/>

      <div class="flex flex-col gap-2">
        <h3 class="font-bold text-base md:text-lg">Récapitulatif des services</h3>
        <hlm-table class="hidden md:block w-full ">
          <hlm-trow class="*:text-black border-b-black *:p-0">
            <hlm-th class="w-7/12">Description du service</hlm-th>
            <hlm-th class="w-1/12 md:mr-5 lg:mr-0">Quantité</hlm-th>
            <hlm-th class="w-1/12">HTVA</hlm-th>
            <hlm-th class="w-1/12">TVA %</hlm-th>
            <hlm-th class="w-1/12">TVAC</hlm-th>
            <hlm-th class="w-1/12 flex justify-end gap-3">
            </hlm-th>
          </hlm-trow>
          @for (product of invoice()?.products; track product.id) {
            <hlm-trow class="*:p-0" [ngClass]="{'*:line-through *:decoration-red-500': checkDisabled(product.id!)}">
              <hlm-th class="w-7/12">{{ product.description }}</hlm-th>
              <hlm-th class="w-1/12">{{ product.quantity }}</hlm-th>
              <hlm-th class="w-1/12">{{ product.price_htva }}</hlm-th>
              <hlm-th class="w-1/12">{{ product.vat | percent }}</hlm-th>
              <hlm-th class="w-1/12">{{ product.total }}</hlm-th>
              <hlm-th class="w-1/12 flex justify-end gap-3">
                <hlm-checkbox (checkedChange)="addToDisabledList(product?.id!)"/>
              </hlm-th>
            </hlm-trow>
            <brn-separator hlmSeparator/>
          }

        </hlm-table>

      </div>

      <div class="w-3/5 md:w-1/5 flex flex-col self-end gap-3 text-xs md:text-lg">
        <div class="flex flex-col gap-1">

          <div class="flex flex-col text-xs">
            <p>Remise</p>
            <div class="flex flex-col gap-2 w-full">
              <input [disabled]="totalHtva() === 0" class="bg-white" hlmInput min="0" [max]="total()" type="number"
                     (input)="setRemise($event)">
              <div class="flex gap-1">
                Pourcentage
                <hlm-checkbox [disabled]="totalHtva() === 0"
                              (checkedChange)="isPercentage.set(!isPercentage())"></hlm-checkbox>
              </div>
            </div>

          </div>

          <div class="flex justify-between text-xs">
            <p>Total HTVA</p>
            <p>{{ totalHtva() | euroFormat }}</p>
          </div>

          <div class="flex justify-between text-xs">
            <p>TVA 21%</p>
            <p>{{ tva21()!  | euroFormat }}</p>
          </div>

          <div class="flex justify-between text-xs">
            <p>TVA 6%</p>
            <p>{{ tva6()! | euroFormat }}</p>
          </div>

          @if (remise() > 0) {
            <div class="flex flex-col gap-1 text-xs">
              <div class="flex justify-between">
                <p>Remise</p>
                @if (isPercentage()) {
                  <p>{{ remise()! | percent }}</p>
                } @else {
                  <p>{{ remise()! | euroFormat }}</p>
                }
              </div>
              @if (remise() > total()) {
                <p class="text-red-400">Remise supérieure au total</p>
              } @else if (isPercentage() && remise() > 100) {
                <p class="text-red-400">Remise supérieure à 100%</p>
              }
            </div>
          }

        </div>


        <div class="flex justify-between text-lg font-bold">
          <p>Total</p>
          @if (remise() > 0) {
            <p>{{ totalWithRemise()! | euroFormat }}</p>
          } @else {
            <p>{{ total()! | euroFormat }}</p>
          }
        </div>

      </div>


      <button class="rounded-full flex justify-center items-center gap-2 md:w-1/3 md:self-end mt-3" hlmBtn
              type="button" (click)="createCreditNote()">
        Créer la note de crédit
        <hlm-icon size='xs' name="lucideFileDown"/>
      </button>

    </form>


  </div>

</div>
