@if (!isIndexRoute) {
<div class="flex flex-col justify-between h-screen">
  <div class="flex flex-col gap-2">
    <app-header />
    <div class="min-h-[calc(100vh-160px)]">
      <router-outlet class="hidden" />
    </div>
  </div>
  <app-footer />
</div>
} @if (isIndexRoute) {
<div>
  @if (maintenanceMode) {
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold">Maintenance mode</h1>
    <p class="text-lg">
      We are currently performing maintenance on our website. Please check back
      later.
    </p>
  </div>
  } @else {

  <router-outlet />
  }
</div>
}

<!-- Ajout du composant de toast pour les notifications -->
<app-notification-toast [displayDuration]="7000"></app-notification-toast>
