<div class="flex flex-col justify-center">
  <button
    (click)="goBack()"
    class="w-fit mx-10 mb-5 rounded-full flex items-center gap-3"
    hlmBtn
  >
    <hlm-icon size="sm" name="lucideCornerDownLeft" />
    Retour
  </button>
  <div
    class="background-div h-40 max-w-full md:h-[380px] relative mx-10 overflow-hidden rounded-2xl shadow"
  >
    <!-- Effet de flou et overlay -->

    <!-- Contenu -->
    <div
      class="relative z-10 p-16 text-white h-full flex flex-col justify-center"
    >
      <div class="">
        <h1 class="text-4xl md:text-5xl font-bold mb-3">
          {{ projet()?.username }}
        </h1>
        <p class="text-xl font-bold md:text-2xl text-white/90">
          {{ userInfo()?.firstName }} {{ userInfo()?.name }}
        </p>
      </div>

      <div class="">
        <div class="flex gap-2 text-white/80 font-light">
          <span class="font-semibold">IBAN :</span>
          <span>{{ userInfo()?.iban }}</span>
        </div>
        <div class="flex gap-2 text-white/80 font-light">
          <span class="font-semibold">Téléphone :</span>
          <span>{{ userInfo()?.telephone }}</span>
        </div>
        <div class="flex gap-2 text-white/80 font-light">
          <span class="font-semibold">Email :</span>
          <span>{{ userInfo()?.email }}</span>
        </div>
        <div class="flex gap-2 text-white/80 font-light">
          <span class="font-semibold">Numéro national :</span>
          <span>{{ userInfo()?.numeroNational }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="grid justify-between md:justify-center px-10 mt-6">
    <div class="grid grid-cols-2 gap-2 md:gap-4 w-full">
      <!-- @if (typeOfProjet() === "GROUP") {
        <a
          routerLink="membership"
          [queryParams]="{ typeOfProjet: typeOfProjet()}"
          class="rounded-full w-full text-[10px] font-semibold h-auto  bg-gray-sonar text-black md:flex md:justify-center md:items-center md:gap-2 md:min-w-4/5 md:px-10 md:text-lg hover:bg-gray-200"
          hlmBtn>
          Gérer les membres
          <hlm-icon class="hidden md:block md:text-center w-4" name="lucideChevronRight"/>
        </a>
      } -->

      <!-- @if (typeOfProjet() === "GROUP") {
        <a
          routerLink="diary"
          [queryParams]="{ typeOfProjet: typeOfProjet()}"
          class="rounded-full w-full text-[10px] font-semibold h-auto  bg-gray-sonar text-black md:flex md:justify-center md:items-center md:gap-2 md:min-w-4/5 md:px-10 md:text-lg hover:bg-gray-200"
          hlmBtn>Agenda du projet
          <hlm-icon class="hidden md:block md:text-center w-4" name="lucideChevronRight"/>
        </a>
      } -->
      <a
        routerLink="project-account"
        [queryParams]="{ typeOfProjet: typeOfProjet() }"
        class="rounded-full w-full text-[10px] font-semibold h-auto bg-gray-sonar text-black md:flex md:justify-center md:items-center md:gap-2 md:min-w-4/5 md:px-10 md:text-lg hover:bg-gray-200"
        hlmBtn
        >Compte du projet
        <hlm-icon
          class="hidden md:block md:text-center w-4"
          name="lucideChevronRight"
        />
      </a>
      <!-- <a
        routerLink="facturation"
        [queryParams]="{ typeOfProjet: typeOfProjet() }"
        class="rounded-full w-full text-[10px] font-semibold h-auto bg-gray-sonar text-black md:flex md:justify-center md:items-center md:gap-2 md:min-w-4/5 md:px-10 md:text-lg hover:bg-gray-200"
        hlmBtn
        >Facturation
        <hlm-icon
          class="hidden md:block md:text-center w-4"
          name="lucideChevronRight"
        />
      </a> -->
    </div>
  </div>
</div>
