<div>
    <p class="text-lg font-bold mx-10"> Politique de Confidentialité de Sonar Artists</p>
    <div class="bg-gray-sonar mx-10 my-5 p-5 rounded-2xl">
        <p>
            En utilisant l'application Sonar Artists, vous acceptez les conditions suivantes. Veuillez les lire attentivement.
        </p>
        
        <p class="font-bold">
            1. Collecte des Informations et Base Légale
        </p>
        <p>
            1.1. Conformément à la loi belge sur la protection de la vie privée du 8 décembre 1992, modifiée par le règlement général sur la protection des données (RGPD), nous collectons des informations personnelles telles que le nom, l'adresse, l'adresse e-mail, des données financières, et autres, avec le consentement de l'utilisateur ou en vertu d'autres bases légales prévues par la loi.
        </p>
        <p>
            1.2. La base légale spécifique applicable à chaque traitement est détaillée dans notre registre des activités de traitement, accessible sur demande à kevin&#64;sonar.management.
        </p>    
        <p class="font-bold">   
            2. Finalités du Traitement
        </p>
        <p>
            2.1. Les informations collectées sont utilisées pour fournir des services de gestion d'artiste, traiter les transactions, personnaliser l'expérience utilisateur, respecter les obligations légales et réglementaires, effectuer des analyses statistiques, et, le cas échéant, à des fins de marketing direct avec le consentement de l'utilisateur.
        </p>
        <p>
            2.2. Les utilisateurs peuvent retirer leur consentement à tout moment en contactant kevin&#64;sonar.management.
        </p>
        
        <p class="font-bold">
            3. Sécurité des Données
        </p>
        <p>
            3.1. Nous mettons en place des mesures de sécurité conformes à la législation belge pour protéger les données contre tout accès non autorisé, divulgation, altération, ou destruction.
        </p>
        <p>
            3.2. Des audits de sécurité réguliers et des évaluations d'impact sur la protection des données sont effectués pour garantir la sécurité des données.
        </p>        
        <p class="font-bold">
            4. Partage d'Informations
        </p>
        <p>
            4.1. Les informations personnelles ne sont partagées qu'avec le consentement de l'utilisateur ou lorsque requis par la loi.
        </p>
        <p>
            4.2. Nous exigeons de nos partenaires tiers qu'ils respectent la législation belge sur la protection de la vie privée.
        </p>
        
        <p class="font-bold">
            5. Droits des Utilisateurs
        </p>
        <p>
            5.1. Les utilisateurs ont le droit d'accéder, de rectifier, de supprimer, de limiter le traitement, de s'opposer au traitement, et à la portabilité de leurs données.
        </p>
        <p>
            5.2. Les demandes liées à ces droits peuvent être adressées à kevin&#64;sonar.management.
        </p>
        <p>
            5.3. Les utilisateurs ont le droit de déposer une plainte auprès de l'Autorité de protection des données (APD) en Belgique.
        </p>
        
        <p class="font-bold">
            6. Cookies et Technologies Similaires
        </p>
        <p>
            6.1. Nous utilisons des cookies conformément à la législation belge. Les utilisateurs peuvent gérer leurs préférences de cookies via les paramètres de l'application.
        </p>
        <p>
            6.2. Une liste détaillée des cookies utilisés est disponible sur demande à kevin&#64;sonar.management.
        </p>
        
        <p class="font-bold">
            7. Modifications de la Politique de Confidentialité
        </p>
        <p>
            7.1. Nous informerons les utilisateurs de toute modification de la politique de confidentialité conformément à la loi belge.
        </p>
        <p>
            7.2. Les utilisateurs auront la possibilité de consulter la version la plus récente de la politique de confidentialité sur notre site web.
        </p>
        
        <p class="font-bold">
            8. Responsable de la Protection des Données
        </p>
        <p>
            8.1. Notre responsable de la protection des données peut être contacté à kevin&#64;sonar.management.
        </p>        
        <p class="font-bold">
            9. Contact
        </p>
        <p>
            9.1. Pour toute question ou préoccupation concernant la politique de confidentialité, veuillez nous contacter à kevin&#64;sonar.management ou par courrier postal à 6, rue Francisco Ferrer 4460 Grâce-Hollogne.
        </p>
    </div>
</div>
