@defer () {


  <div class="m-10 flex flex-col items-center md:items-end gap-4">
    <hlm-dialog>
      <button id="edit-profile" brnDialogTrigger class="rounded-full w-80" hlmBtn>Ajouter un membre</button>
      <hlm-dialog-content class="w-72 rounded-xl m-2" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>Ajouter un membre</h3>
          <p class="md:mr-28" hlmDialogDescription>Ajoutez un nouveau membre au projet de groupe ici. Cliquez sur
            enregistrer lorsque vous avez terminé.</p>
        </hlm-dialog-header>

        <brn-select class="md:inline-block flex flex-col items-center" placeholder="Selectionner un utilisateur">
          <hlm-select-trigger class="w-56 md:w-64">
            <hlm-select-value/>
          </hlm-select-trigger>
          <hlm-select-content>
            <hlm-option value="Refresh">Pierre Godfrin</hlm-option>
            <hlm-option value="Settings">Manon</hlm-option>
            <hlm-option value="Help">Ryan</hlm-option>
            <hlm-option value="Signout">Dimagin</hlm-option>
          </hlm-select-content>
        </brn-select>

        <hlm-dialog-footer>
          <button class="rounded-full" hlmBtn type="submit">Enregistrer</button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>

    <hlm-table class="overflow-x-auto w-full p-4 bg-gray-sonar rounded-xl">
      <hlm-trow class="flex flex-col sm:flex-row">
        <hlm-th class="w-full sm:w-52">Date</hlm-th>
        <hlm-th class="w-full sm:w-60">Personne invitée</hlm-th>
        <hlm-th class="w-full sm:flex-1">Viewer</hlm-th>
        <hlm-th class="w-full sm:flex-1">Admin</hlm-th>

      </hlm-trow>
      @for (invoice of _invoices; track invoice.invoice) {
        <hlm-trow class="flex flex-col sm:flex-row">
          <hlm-td class="font-medium w-full sm:w-52 truncate">{{ invoice.invoice }}</hlm-td>

          <hlm-td class="w-full sm:w-60">{{ invoice.paymentStatus }}</hlm-td>

          <hlm-td class="flex flex-col w-full gap-2 sm:flex-1">
            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Compte du groupe
            </label>

            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Facturation
            </label>

            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Gestion d'équipe
            </label>

            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Agenda
            </label>
          </hlm-td>

          <hlm-td class="flex flex-col w-full gap-2 sm:flex-1">
            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Compte du groupe
            </label>

            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Facturation
            </label>

            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Gestion d'équipe
            </label>

            <label class="flex items-center w-full" hlmLabel>
              <hlm-checkbox class="mr-2 rounded-full"/>
              Agenda
            </label>
          </hlm-td>

        </hlm-trow>
      }
    </hlm-table>
  </div>

} @loading (minimum 1s) {
  <hlm-spinner class="flex mx-auto mt-2 "/>
}

