<div class="w-full px-4 sm:px-6 md:px-8 py-6 sm:py-8 md:py-10">
  <div class="max-w-4xl mx-auto">
    <div class="text-center mb-8 sm:mb-10 md:mb-12">
      <h1
        class="text-2xl sm:text-3xl md:text-4xl font-bold text-slate-800 mb-4 sm:mb-6"
      >
        Bienvenue sur la plateforme Sonar Artists !
      </h1>
      <p
        class="text-base sm:text-lg text-slate-700 leading-relaxed px-4 sm:px-6 md:px-0"
      >
        Nous sommes ravis de vous accueillir parmi nous. Pour finaliser votre
        inscription, nous vous invitons à prendre rendez-vous en utilisant
        l'agenda ci-dessous.
      </p>
    </div>

    <div class="bg-gray-50 p-4 sm:p-6 md:p-8 rounded-lg shadow-md">
      <h2 class="text-xl sm:text-2xl font-semibold text-slate-800 mb-3 sm:mb-4">
        Prenez rendez-vous
      </h2>
      <p class="text-sm sm:text-base text-slate-700 mb-6 sm:mb-8">
        Veuillez consulter les disponibilités dans l'agenda ci-dessous et
        sélectionner un créneau qui vous convient.
      </p>
      <!-- L'agenda Google sera intégré ici ultérieurement -->
      <!-- Google Calendar Appointment Scheduling begin -->
      <iframe
        src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3fXHsstt3304zItXORjtwGFw9RKtl2q-qUuqSeKwrT_YZerfTH5poBYnwZRZ4Ex-PTGxNNUTGf?gv=true"
        style="border: 0"
        width="100%"
        height="600"
        frameborder="0"
      ></iframe>
      <!-- end Google Calendar Appointment Scheduling -->
    </div>
  </div>
</div>
