<div class="px-5 flex flex-col  gap-5">


  <p class="font-bold text-lg px-3">Réunions visioconférences</p>


  <hlm-table class="overflow-x-auto p-4 bg-gray-sonar rounded-xl shadow-lg">
    <p class="font-bold text-sm p-3">Listes des visioconférences</p>
    <div class="overflow-auto touch-none">
      <hlm-trow class="flex w-full">
        <hlm-th class="w-2/12 font-bold text-[10px]">Date & heure de début</hlm-th>
        <hlm-th class="w-2/12 font-bold text-[10px]">Titre</hlm-th>
        <hlm-th class="w-2/12 font-bold text-[10px]">Lien</hlm-th>
        <hlm-th class="w-6/12 font-bold text-[10px]">Participants</hlm-th>
      </hlm-trow>
      @for (meet of meets(); track meet.id) {
        <hlm-trow class="flex border-none relative sm:flex-row w-full">
          <hlm-td class="w-2/12 font-bold text-[10px]">{{ meet.startDate | date: 'dd/MM/yyyy hh:mm' }}</hlm-td>
          <hlm-td class="w-2/12 font-bold  text-[10px]">{{ meet.title }}</hlm-td>
          <hlm-td class="w-2/12 font-bold text-[10px]">Lien pas encore en place</hlm-td>
          <hlm-td class="w-6/12 font-bold text-[10px]">
            <brn-popover>
              <button brnPopoverTrigger>Voir les participants</button>
              <div hlmPopoverContent *brnPopoverContent="let ctx">
                <div class="flex flex-col gap-4 items-center">
                  @if (meet.user.length === 0) {
                    <p class="text-xs text-red-400">Aucun participant</p>
                  } @else {

                    @for (user of meet.user; track user.id) {
                      <div class="flex gap-4">
                        <div class="flex items-center justify-center gap-2">
                          <p class="text-sm">({{ user.username }}) - {{ user.firstName }} {{ user.name }}</p>
                          <p class="text-sm">{{ user.email }}</p>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>
            </brn-popover>

          </hlm-td>
        </hlm-trow>
      }
    </div>
    <hlm-dialog>
      <button class="rounded-full pt-0 pb-0 h-auto w-2/3 md:w-48 text-[10px]" id="edit-profile" brnDialogTrigger hlmBtn>
        Créer une visioconférences
      </button>

      <hlm-dialog-content class="w-80 md:min-w-[600px] rounded-xl" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 class="text-xs md:text-lg" hlmDialogTitle>Créer une visioconférence</h3>
          <p class="text-[8px] md:text-sm" hlmDialogDescription>Sélectionnez une date et heure de début pour créer un
            créneau de visioconférence. Cliquez sur “Enregistrer” pour ajouter ce créneau à l’agenda des
            participants.</p>
        </hlm-dialog-header>
        <form [formGroup]="createMeetForm" class="py-4 grid gap-4" (ngSubmit)="createMeet(ctx)">

          <label class="w-60 text-[10px] md:text-lg" hlmLabel> Titre
            <input formControlName="title" class="w-60 text-[10px] md:text-lg" hlmInput type="text"/>
          </label>

          <label class="w-60 text-[10px] md:text-lg" hlmLabel> Date de début
            <input formControlName="startDate" class="w-60 text-[10px] md:text-lg" hlmInput type="datetime-local"/>
          </label>

          <button class="rounded-full w-auto h-auto text-[10px] md:text-lg" hlmBtn type="submit">Enregistrer</button>

        </form>

      </hlm-dialog-content>
    </hlm-dialog>

  </hlm-table>
</div>
