<div class="bg-gray-sonar p-5 mx-5 rounded-xl flex flex-col gap-5 ">

    <div class="md:flex md:justify-between">
        <div class="flex justify-start w-full md:w-1/3">
            <button class="bg-white flex flex-col justify-center items-center w-full rounded-2xl h-32 gap-2 shadow-lg">
                <div>
                <p class="font-bold">Solde compte Crélan</p>
                <p class="font-bold text-[9px]">000001</p>
                </div>
                <p>100 000€</p>
            </button>  
        </div>
        
            <div class="md:flex md:flex-col mt-5 md:justify-end">
                <hlm-dialog>
                    <button id="transfer" brnDialogTrigger class="rounded-full w-full px-10" hlmBtn>Transfert d'argent</button>
                    <hlm-dialog-content class="w-72 rounded-xl m-2" *brnDialogContent="let ctx">
                    <hlm-dialog-header>
                        <h3 hlmDialogTitle>Transfert d'argent</h3>
                        <p hlmDialogDescription>Choisissez un projet, ajoutez le montant et une communication. Cliquez sur envoyer lorsque vous avez terminé.</p>
                    </hlm-dialog-header>
        
                    <div>
                        <div class="w-full flex">
                            <brn-select class="inline-block rounded-full" placeholder="Selectionner des projets" [multiple]="true">
                                <hlm-select-trigger class="w-60 md:w-96">
                                <hlm-select-value />
                                </hlm-select-trigger>
                                <hlm-select-content>
                                <hlm-option value="Dimagin">Dimagin</hlm-option>
                                <hlm-option value="Ryan">Ryan</hlm-option>
                                <hlm-option value="Manon">Manon</hlm-option>
                                <hlm-option value="Pierre">Pierre</hlm-option>
                                </hlm-select-content>
                            </brn-select>
                        </div>
                    </div>
        
                    <div class="flex flex-col gap-2 rounded-full w-full">
                        <div>
                            <input hlmInput placeholder='Montant' type='number' class="rounded-full w-full" />
                        </div>
                        <div>
                            <input hlmInput placeholder='Communication' type='text' class="rounded-full w-full" />
                        </div>
                    </div>
        
                    <hlm-dialog-footer>
                        <button class="rounded-full" hlmBtn type="submit">Envoyer</button>
                    </hlm-dialog-footer>
                    </hlm-dialog-content>
                </hlm-dialog>
            
                <hlm-dialog>
                    <button id="paie" brnDialogTrigger class="rounded-full w-full mt-5 px-10" hlmBtn>Paiement SEPA</button>
                    <hlm-dialog-content class="w-72 rounded-xl m-2" *brnDialogContent="let ctx">
                        <hlm-dialog-header>
                            <h3 hlmDialogTitle>Paiement SEPA</h3>
                            <p hlmDialogDescription class="text-[10px]">Si le virement effectu&eacute; concerne une facture adress&eacute;e &agrave; Sonar Artists ASBL</p>
                            <p hlmDialogDescription class="text-[10px]">6 rue Francisco Ferrer, 4460 Gr&acirc;ce-Hollogne </p>
                            <p hlmDialogDescription class="text-[10px]">E-mail : sonar&#64;sonar.management</p>
                            <p hlmDialogDescription class="text-[10px]">N&deg; de t&eacute;l&eacute;phone : +32 (0)498 62 45 65</p>
                            <p hlmDialogDescription class="text-[10px]">N&deg; entreprise&#8239;: 0700.273.583 </p>
                            <p hlmDialogDescription class="text-[10px]">N&deg; TVA&#8239;: BE0700.273.583 </p>
                            <p hlmDialogDescription class="text-[10px]">Alors dans ce cas vous pouvez indiquer le montant de la TVA. Celui-ci ne sera pas d&eacute;biter de votre compte de projet.</p>
                        </hlm-dialog-header>
        
                    <div class="flex flex-col gap-2 w-full">
                        <div>
                            <input class="flex w-full rounded-full" hlmInput placeholder='Titulaire du compte' type='text'  />
                        </div>
                        <div>
                            <input class="flex w-full rounded-full" hlmInput placeholder='IBAN' type='text'  />
                        </div>
                        <div>
                            <input class="flex w-full rounded-full" hlmInput placeholder='Montant TVAC' type='number'  />
                        </div>
                        <div>
                            <input class=" flex w-full rounded-full" hlmInput placeholder='Montant TVA' type='number'  />
                        </div>
                        <div>
                            <input class="flex font-bold w-full rounded-full" hlmInput disabled placeholder="0€" type="number" />
                        </div>
                        <div>
                            <input class="flex w-full rounded-full" hlmInput placeholder='Communication' type='text'  />
                        </div>
                        <div>
                            <input class="flex w-full rounded-full" hlmInput placeholder='Communication Structurée' type='text'  />
                        </div>
                        <div>
                            <input class="flex w-full rounded-full" hlmInput type="file"/>
                        </div>
                    </div>
        
                    <hlm-dialog-footer>
                        <button class="rounded-full" hlmBtn type="submit">Envoyer</button>
                    </hlm-dialog-footer>
                    </hlm-dialog-content>
                </hlm-dialog>
            </div>
    </div>

    <div class="md:flex md:gap-5 w-full flex flex-col gap-5">
        <div class=" flex flex-col gap-5">
            <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
                <p class="font-bold px-4 text-sm">Transfert sortant</p>
                <div class="overflow-auto touch-none">
                <hlm-trow class="flex ">
                  <hlm-th class="w-32 font-bold text-[10px]">Date</hlm-th>
                  <hlm-th class="w-44 font-bold  text-[10px]">Expéditeur</hlm-th>
                  <hlm-th class="w-48 font-bold text-[10px]">Destinataire</hlm-th>
                  <hlm-th class="w-48 font-bold text-[10px]">Communication</hlm-th>
                  <hlm-th class="w-32 font-bold text-[10px]">Montant</hlm-th>
                </hlm-trow>
                @for (invoice of _invoices; track invoice.invoice) {
                  <hlm-trow class="flex border-none relative sm:flex-row md:flex md:justify-between">
                    <div class="flex">
                        <hlm-th class="w-32 font-bold text-[10px]">01-09-2024</hlm-th>
                        <hlm-th class="w-44 font-bold  text-[10px]">Les artistes de la boverie</hlm-th>
                        <hlm-th class="w-48 font-bold text-[10px]">Un concert pour tous</hlm-th>
                        <hlm-th class="w-48 font-bold text-[10px]">Concert du 06 juin 2024</hlm-th>
                        <hlm-th class="w-32 font-bold text-[10px]">1 000€</hlm-th>
                    </div>
                  </hlm-trow>
                }
              </div>
            </hlm-table>
          </div>
    
          <div class=" flex flex-col gap-5">
            <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
                <p class="font-bold px-4 text-sm">Transfert entrant</p>
                <div class="overflow-auto touch-none">
                <hlm-trow class="flex ">
                  <hlm-th class="w-32 font-bold text-[10px]">Date</hlm-th>
                  <hlm-th class="w-44 font-bold  text-[10px]">Expéditeur</hlm-th>
                  <hlm-th class="w-48 font-bold text-[10px]">Destinataire</hlm-th>
                  <hlm-th class="w-48 font-bold text-[10px]">Communication</hlm-th>
                  <hlm-th class="w-32 font-bold text-[10px]">Montant</hlm-th>
                </hlm-trow>
                @for (invoice of _invoices; track invoice.invoice) {
                  <hlm-trow class="flex border-none relative sm:flex-row md:flex md:justify-between">
                    <div class="flex">
                        <hlm-th class="w-32 font-bold text-[10px]">01-09-2024</hlm-th>
                        <hlm-th class="w-44 font-bold  text-[10px]">Les artistes de la boverie</hlm-th>
                        <hlm-th class="w-48 font-bold text-[10px]">Un concert pour tous</hlm-th>
                        <hlm-th class="w-48 font-bold text-[10px]">Concert du 06 juin 2024</hlm-th>
                        <hlm-th class="w-32 font-bold text-[10px]">1 000€</hlm-th>
                    </div>
                  </hlm-trow>
                }
              </div>
            </hlm-table>
          </div>
    </div>

    <div class=" flex flex-col gap-5">
        <hlm-table class="overflow-x-auto p-4 bg-white rounded-xl shadow-lg">
            <p class="font-bold text-sm p-3">Paiement SEPA</p>
            <div class="overflow-auto touch-none">
            <hlm-trow class="flex ">
              <hlm-th class="w-28 font-bold text-[10px]">Date </hlm-th>
              <hlm-th class="w-36 font-bold  text-[10px]">Titulaire du compte</hlm-th>
              <hlm-th class="w-44 font-bold text-[10px]">IBAN</hlm-th>
              <hlm-th class="w-36 font-bold text-[10px]">Communication libre</hlm-th>
              <hlm-th class="w-44 font-bold text-[10px]">Communication structurée</hlm-th>
              <hlm-th class="w-28 font-bold text-[10px]">Montant total</hlm-th>
              <hlm-th class="w-28 font-bold text-[10px]">Montant débité</hlm-th>
            </hlm-trow>
            @for (invoice of _invoices; track invoice.invoice) {
              <hlm-trow class="flex sm:flex-row">
                <hlm-td class="w-28 text-[10px]">01-09-2024</hlm-td>
                <hlm-td class="w-36 text-[10px]">Manon Aussems</hlm-td>
                <hlm-td class="w-44 text-[10px]">BE95 1430 8568 5558</hlm-td>
                <hlm-td class="w-36 text-[10px]">Concert boverie</hlm-td>
                <hlm-td class="w-44 text-[10px]">210-12345-123</hlm-td>
                <hlm-td class="w-28 text-[10px]">1 210€</hlm-td>
                <hlm-td class="w-28 text-[10px]">1 000€</hlm-td>
              </hlm-trow>
            }
          </div>
          </hlm-table>
      </div>

</div>
